# Preprocessing and Merge of different sources of socioeconomic data

In [3]:
import pandas as pd
# only stratified by age
cdi_path = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/U.S._Chronic_Disease_Indicators__Diabetes.csv"

data_cdi = pd.read_csv(cdi_path, sep=";")

data_cdi = data_cdi[data_cdi.YearEnd == 2016]
data_cdi = data_cdi[data_cdi.StratificationCategory1 == "Overall"]
data_cdi = data_cdi[data_cdi.DataValueType == "Crude Prevalence"]


print(data_cdi.columns)
print()
print(data_cdi.YearEnd.value_counts(dropna=False))
print()
print(data_cdi.Question.value_counts(dropna=False))
print()
data_cdi.head()

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueTypeID',
       'DataValueType', 'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'TopicID', 'QuestionID', 'ResponseID', 'LocationID',
       'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

2016    660
Name: YearEnd, dtype: int64

Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes       55
Prevalence of diagnosed diabetes among adults aged >= 18 years                                         55
Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                          55
Foot examination among adults aged >= 18 years with diagnosed diabetes                                 55
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes    55
Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes              55
Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes               55
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes    55
Diabetes prevalence among women aged 18-44 years                                                       55
Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes               55
Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course       55
Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes       55
Name: Question, dtype: int64

/home/adrian/miniconda3/envs/deepscience/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7,11,12,19,20,21,22,26,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueTypeID,...,TopicID,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,HI,Hawaii,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,15,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,ID,Idaho,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,16,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,IL,Illinois,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,17,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,MN,Minnesota,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,27,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,GU,Guam,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,66,OVERALL,OVR,NaN,NaN,NaN,NaN

In [4]:
data_cdi = data_cdi[['YearEnd', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValueUnit', 
       'DataValueType', 'DataValue']]

var1 = data_cdi[data_cdi.Question == "Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes"]
var2 = data_cdi[data_cdi.Question == "Prevalence of diagnosed diabetes among adults aged >= 18 years"]
print(var1.shape)   
print(var2.shape)
data_cdi_total = pd.DataFrame(var1.DataValue.values, index=var1.LocationDesc.values, columns=["CDI__2016__Prevalence_depressive_disorders_adults_>=18years_with_diagnosed_diabetes__%"])
data_cdi_total["CDI__2016__Prevalence_diagnosed_diabetes_among_adults_aged_>=18_years__%"] = var2.DataValue.values
data_cdi_total["LocationAbbr"] = var1.LocationAbbr.values
data_cdi_total = data_cdi_total[["LocationAbbr", "CDI__2016__Prevalence_depressive_disorders_adults_>=18years_with_diagnosed_diabetes__%", "CDI__2016__Prevalence_diagnosed_diabetes_among_adults_aged_>=18_years__%"]]
data_cdi_total.head()

(55, 7)
(55, 7)

,LocationAbbr,CDI__2016__Prevalence_depressive_disorders_adults_>=18years_with_diagnosed_diabetes__%,CDI__2016__Prevalence_diagnosed_diabetes_among_adults_aged_>=18_years__%
Guam,GU,14.6,7.7
Delaware,DE,22.6,11.8
United States,US,25.4,12.1
Alabama,AL,32.1,10.5
Alaska,AK,25.4,8.9

In [5]:
# Diabetes diagnosed
#https://gis.cdc.gov/grasp/diabetes/DiabetesAtlas.html#
diab_path = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/DiabetesDiagnosedData2016.csv"
data_diab = pd.read_csv(diab_path, sep=",", skiprows=2)
data_diab = data_diab.loc[1::]
data_diab.index = data_diab.State.values
data_diab = data_diab[["Percentage"]]
data_diab.columns = ["Percentage_Diabetes_Diagnosed_2016"]
print(data_diab.shape)
print(data_diab.columns)
data_diab.head()

(55, 1)
Index(['Percentage_Diabetes_Diagnosed_2016'], dtype='object')

            Percentage_Diabetes_Diagnosed_2016
Alabama                                   13.2
Alaska                                     7.7
Arizona                                    9.7
Arkansas                                  12.1
California                                 9.7

In [6]:
import pandas as pd
nutr_path = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Nutrition__Physical_Activity__and_Obesity_-_Women__Infant__and_Child.csv"

data_nutr = pd.read_csv(nutr_path, sep=";")

data_nutr = data_nutr[data_nutr.YearEnd == 2014]
data_nutr = data_nutr[data_nutr.StratificationCategory1 == "Total"]
#data_nutr = data_nutr[data_nutr.DataValueType == "Crude Prevalence"]


print(data_nutr.columns)
print()

data_nutr = data_nutr[['YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value', 'Data_Value_Alt', 
       'Sample_Size']]
print(data_nutr.Question.value_counts())
data_nutr.head()

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(months)', 'Gender', 'Race/Ethnicity',
       'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID',
       'LocationID', 'StratificationCategory1', 'Stratification1',
       'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

Percent of WIC children aged 2 to 4 years who have an overweight classification    54
Percent of WIC children aged 2 to 4 years who have obesity                         54
Percent of WIC children aged 3-23 months old who have a high weight-for-length     54
Name: Question, dtype: int64

,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value,Data_Value_Alt,Sample_Size
39,2014,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,16.5,16.5,"43,509"
82,2014,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,16.3,16.3,"43,509"
94,2014,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 3-23 months old w...,13.0,13.0,"41,679"
138,2014,AK,Alaska,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,17.8,17.8,"5,552"
182,2014,AK,Alaska,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,19.1,19.1,"5,552"

In [7]:
var1 = data_nutr[data_nutr["Question"] == "Percent of WIC children aged 2 to 4 years who have an overweight classification"][["LocationDesc", "Data_Value"]]
var1.columns = ["LocationDesc", "Obesity-Weight__2014__Percent-of-WIC-children-aged-2-to-4-years-who-have-an-overweight-classification"]
var2 = data_nutr[data_nutr["Question"] == "Percent of WIC children aged 2 to 4 years who have obesity"][["LocationDesc", "Data_Value"]]
var2.columns = ["LocationDesc", "Obesity-Weight__2014__Percent-of-WIC-children-aged-2-to-4-years-who-have-obesity"]
var3 = data_nutr[data_nutr["Question"] == "Percent of WIC children aged 3-23 months old who have a high weight-for-length"][["LocationDesc", "Data_Value"]]
var3.columns = ["LocationDesc", "Obesity-Weight__2014__Percent-of-WIC-children-aged-3-23-months-old-who-have-a-high-weight-for-length"]

var2.head()

joined_obesity = var1.merge(var2,on='LocationDesc').merge(var3,on='LocationDesc')
joined_obesity.index = joined_obesity.LocationDesc.values
joined_obesity.drop("LocationDesc", axis=1, inplace=True)
joined_obesity.head()

,Obesity-Weight__2014__Percent-of-WIC-children-aged-2-to-4-years-who-have-an-overweight-classification,Obesity-Weight__2014__Percent-of-WIC-children-aged-2-to-4-years-who-have-obesity,Obesity-Weight__2014__Percent-of-WIC-children-aged-3-23-months-old-who-have-a-high-weight-for-length
Alabama,16.5,16.3,13.0
Alaska,17.8,19.1,14.4
Arizona,15.4,13.3,12.0
Arkansas,15.5,14.4,10.7
California,16.2,16.6,13.3

In [8]:
# https://catalog.data.gov/dataset/air-quality-measures-on-the-national-environmental-health-tracking-network
air_path = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Air_Quality_Measures_on_the_National_Environmental_Health_Tracking_Network.csv"

data_air = pd.read_csv(air_path, sep=",")

data_air = data_air[data_air.ReportYear == 2013] # 2011
#data_air = data_air[data_air.MeasureName == "Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard"]
#data_air = data_air[data_air.StateName == "Washington"]


print(data_air.columns)
print()
print(data_air.ReportYear.value_counts())
print()
print(data_air.MeasureType.value_counts())
print()
print(data_air.UnitName.value_counts())

print()
print(data_air.MeasureName.value_counts())
data_air.head(50)

Index(['MeasureId', 'MeasureName', 'MeasureType', 'StratificationLevel',
       'StateFips', 'StateName', 'CountyFips', 'CountyName', 'ReportYear',
       'Value', 'Unit', 'UnitName', 'DataOrigin', 'MonitorOnly'],
      dtype='object')

2013    3066
Name: ReportYear, dtype: int64

Counts     2059
Percent     517
Average     490
Name: MeasureType, dtype: int64

No Units                     2059
Percent                       517
Micograms per cubic meter     490
Name: UnitName, dtype: int64

Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard                      771
Number of person-days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard               771
Person-days with PM2.5 over the National Ambient Air Quality Standard                                                              517
Percent of days with PM2.5 levels over the National Ambient Air Quality Standard (NAAQS)                                           517
Annual average ambient concentrations of PM2.5 in micrograms per cubic meter (based on seasonal averages and daily measurement)    490
Name: MeasureName, dtype: int64

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
78,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1033,Colbert,2013,0.0,%,Percent,Monitor Only,1
409,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1003,Baldwin,2013,0.0,No Units,No Units,Monitor Only,1
410,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1033,Colbert,2013,0.0,No Units,No Units,Monitor Only,1
411,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1049,DeKalb,2013,0.0,No Units,No Units,Monitor Only,1
412,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1051,Elmore,2013,0.0,No Units,No Units,Monitor Only,1
413,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1055,Etowah,2013,0.0,No Units,No Units,Monitor Only,1
414,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1069,Houston,2013,0.0,No Units,No Units,Monitor Only,1
415,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1073,Jefferson,2013,1.0,No Units,No Units,Monitor Only,1
416,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1089,Madison,2013,0.0,No Units,No Units,Monitor Only,1
417,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1097,Mobile,2013,0.0,No Units,No Units,Monitor Only,1
418,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1101,Montgomery,2013,0.0,No Units,No Units,Monitor Only,1
419,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1103,Morgan,2013,0.0,No Units,No Units,Monitor Only,1
420,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1113,Russell,2013,0.0,No Units,No Units,Monitor Only,1
421,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1117,Shelby,2013,0.0,No Units,No Units,Monitor Only,1
422,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1119,Sumter,2013,0.0,No Units,No Units,Monitor Only,1
423,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,No Units,No Units,Monitor Only,1
425,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1003,Baldwin,2013,0.0,No Units,No Units,Monitor Only,1
426,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1033,Colbert,2013,0.0,No Units,No Units,Monitor Only,1
427,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1049,DeKalb,2013,0.0,No Units,No Units,Monitor Only,1
428,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1051,Elmore,2013,0.0,No Units,No Units,Monitor Only,1
429,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1055,Etowah,2013,0.0,No Units,No Units,Monitor Only,1
430,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1069,Houston,2013,0.0,No Units,No Units,Monitor Only,1
431,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1073,Jefferson,2013,659479.0,No Units,No Units,Monitor Only,1
432,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1089,Madison,2013,0.0,No Units,No Units,Monitor Only,1
433,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1097,Mobile,2013,0.0,No Units,No Units,Monitor Only,1
434,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1101,Montgomery,2013,0.0,No Units,No Units,Monitor Only,1
435,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1103,Morgan,2013,0.0,No Units,No Units,Monitor Only,1
436,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1113,Russell,2013,0.0,No Units,No Units,Monitor Only,1
437,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1117,Shelby,2013,0.0,No Units,No Units,Monitor Only,1
438,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1119,Sumter,2013,0.0,No Units,No Units,Monitor Only,1
439,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,No Units,No Units,Monitor Only,1
468,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1055,Etowah,2013,0.0,%,Percent,Monitor Only,1
489,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1097,Mobile,2013,0.0,%,Percent,Monitor Only,1
515,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1097,Mobile,2013,0.0,No Units,No Units,Monitor Only,1
516,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1101,Montgomery,2013,0.0,%,Percent,Monitor Only,1
520,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1117,Shelby,2013,0.0,%,Percent,Monitor Only,1
530,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1069,Houston,2013,0.0,%,Percent,Monitor Only,1
534,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1003,Baldwin,2013,0.0,%,Percent,Monitor Only,1
540,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1121,Talladega,2013,0.0,%,Percent,Monitor Only,1
551,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,%,Percent,Monitor Only,1
587,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1113,Russell,2013,0.0,%,Percent,Monitor Only,1
607,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1089,Madison,2013,0.0,%,Percent,Monitor Only,1
612,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1073,Jefferson,2013,0.0,%,Percent,Monitor Only,1
628,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1103,Morgan,2013,0.0,%,Percent,Monitor Only,1
646,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1049,DeKalb,2013,0.0,%,Percent,Monitor Only,1
661,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,No Units,No Units,Monitor Only,1
684,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1027,Clay,2013,0.0,%,Percent,Monitor Only,1
719,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1055,Etowah,2013,0.0,No Units,No Units,Monitor Only,1
763,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1101,Montgomery,2013,0.0,No Units,No Units,Monitor Only,1
767,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1117,Shelby,2013,0.0,No Units,No Units,Monitor Only,1

In [9]:
#airQuality = pd.DataFrame()

var1 = data_air[data_air.MeasureName == "Number of person-days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard"]
#print(var1.Value.value_counts())
meanVar1 = var1.groupby(by="StateName")["Value"].mean()
meanVar1_pd = pd.DataFrame(meanVar1.values, index=meanVar1.index, columns=["Number_of_person-days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName"])

var2 = data_air[data_air.MeasureName == "Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard"]
#print(var2.Value.value_counts())
meanVar2 = var2.groupby(by="StateName")["Value"].mean()
meanVar2_pd = pd.DataFrame(meanVar2.values, index=meanVar2.index, columns=["Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName"])

var3 = data_air[data_air.MeasureName == "Percent of days with PM2.5 levels over the National Ambient Air Quality Standard (NAAQS)"]
#print(var3.Value.value_counts())
meanVar3 = var3.groupby(by="StateName")["Value"].mean()
meanVar3_pd = pd.DataFrame(meanVar3.values, index=meanVar3.index, columns=["Percent_of_days_with_PM2.5_levels_over_the_National_Ambient_Air_Quality_Standard_(NAAQS)"])

var4 = data_air[data_air.MeasureName == "Person-days with PM2.5 over the National Ambient Air Quality Standard"]
#print(var3.Value.value_counts())
meanVar4 = var4.groupby(by="StateName")["Value"].mean()
meanVar4_pd = pd.DataFrame(meanVar4.values, index=meanVar4.index, columns=["Person-days_with_PM2.5_over_the_National_Ambient_Air_Quality_Standard"])

var5 = data_air[data_air.MeasureName == "Annual average ambient concentrations of PM2.5 in micrograms per cubic meter (based on seasonal averages and daily measurement)"]
#print(var3.Value.value_counts())
meanVar5 = var5.groupby(by="StateName")["Value"].mean()
meanVar5_pd = pd.DataFrame(meanVar5.values, index=meanVar5.index, columns=["Annual_average_ambient_concentrations_of_PM2.5_in_micrograms_per_cubic_meter_(based_on_seasonal_averages_and_daily_measurement)"])

joined_air = pd.concat([meanVar1_pd, meanVar2_pd, meanVar2_pd, meanVar2_pd, meanVar2_pd], axis = 1)
joined_air.head()

,Number_of_person-days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName
StateName,,,,,
Alabama,4.396527e+04,0.066667,0.066667,0.066667,0.066667
Alaska,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Arizona,6.149958e+06,2.222222,2.222222,2.222222,2.222222
Arkansas,0.000000e+00,0.000000,0.000000,0.000000,0.000000
California,2.422244e+07,11.479167,11.479167,11.479167,11.479167

In [10]:
# https://chronicdata.cdc.gov/Heart-Disease-Stroke-Prevention/Heart-Disease-Mortality-Data-Among-US-Adults-35-by/r35g-znws/data
heart_path = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Heart_Disease_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County.csv"

data_heart = pd.read_csv(heart_path, sep=";")

data_heart = data_heart[data_heart.Stratification1 == "Overall"]
data_heart = data_heart[data_heart.Stratification2 == "Overall"]
data_heart = data_heart[data_heart.Data_Value_Type == "Age-adjusted, 3-year Average Rate"]


print(data_heart.columns)
print()
print(data_heart.Year.value_counts(dropna=False))
print()
print(data_heart.Class.value_counts(dropna=False))
print()
print(data_heart.Topic.value_counts(dropna=False))
print()
print(data_heart.Data_Value_Type.value_counts(dropna=False))
print()
print(data_heart.Data_Value_Unit.value_counts(dropna=False))
#print()
#print(data_heart.LocationAbbr.value_counts(dropna=False))
data_heart.head()

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Location 1'],
      dtype='object')

2014    57
Name: Year, dtype: int64

Cardiovascular Diseases    57
Name: Class, dtype: int64

Heart Disease Mortality    57
Name: Topic, dtype: int64

Age-adjusted, 3-year Average Rate    57
Name: Data_Value_Type, dtype: int64

per 100,000 population    57
Name: Data_Value_Unit, dtype: int64

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
488,2014,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,280.7,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2,"(64.3173, -152.571)"
1715,2014,AL,Alabama,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,437.9,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,1,"(32.7949, -86.8267)"
3082,2014,AR,Arkansas,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,421.4,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,5,"(34.8982, -92.434)"
3117,2014,AS,American Samoa,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,347.3,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,60,"(-14.2766, -170.367)"
3406,2014,AZ,Arizona,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,268.7,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,4,"(34.2921, -111.664)"

In [11]:
data_heart_total = pd.DataFrame({"HeartDiseaseMortality_per100000population__2014__ageAdjusted_3yearAverage":data_heart.Data_Value.values}, index=data_heart.LocationDesc.values)
data_heart_total["HeartDiseaseMortality_per100000population__2014__ageAdjusted_3yearAverage"] = pd.to_numeric(data_heart_total["HeartDiseaseMortality_per100000population__2014__ageAdjusted_3yearAverage"])
data_heart_total.head()

                HeartDiseaseMortality_per100000population__2014__ageAdjusted_3yearAverage
Alaska                                                      280.7
Alabama                                                     437.9
Arkansas                                                    421.4
American Samoa                                              347.3
Arizona                                                     268.7

In [28]:
# https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_17_1YR_S1902&prodType=table

income_path = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/MeanIncome_ACS_17_1YR_S1902_with_ann.csv"

data_income = pd.read_csv(income_path, sep=",")
data_income.columns = data_income.loc[0].values
data_income = data_income.loc[1::]
print(data_income.columns)

data_income.index = data_income.Geography.values
data_income = data_income[["Mean income (dollars); Estimate; All households"]]
data_income["Mean income (dollars); Estimate; All households"] = pd.to_numeric(data_income["Mean income (dollars); Estimate; All households"])

data_income.head()

Index(['Id', 'Id2', 'Geography', 'Number; Estimate; All households',
       'Number; Margin of Error; All households',
       'Percent Distribution; Estimate; All households',
       'Percent Distribution; Margin of Error; All households',
       'Mean income (dollars); Estimate; All households',
       'Mean income (dollars); Margin of Error; All households',
       'Number; Estimate; All households - With earnings',
       ...
       'Percent Distribution; Estimate; Hispanic or Latino origin (of any race)',
       'Percent Distribution; Margin of Error; Hispanic or Latino origin (of any race)',
       'Mean income (dollars); Estimate; Hispanic or Latino origin (of any race)',
       'Mean income (dollars); Margin of Error; Hispanic or Latino origin (of any race)',
       'Number; Estimate; White alone, not Hispanic or Latino',
       'Number; Margin of Error; White alone, not Hispanic or Latino',
       'Percent Distribution; Estimate; White alone, not Hispanic or Latino',
       'Percent Distribution; Margin of Error; White alone, not Hispanic or Latino',
       'Mean income (dollars); Estimate; White alone, not Hispanic or Latino',
       'Mean income (dollars); Margin of Error; White alone, not Hispanic or Latino'],
      dtype='object', length=171)

            Mean income (dollars); Estimate; All households
Alabama                                               66337
Alaska                                                92674
Arizona                                               77451
Arkansas                                              63560
California                                           101761

In [13]:
# Gender, Age, Ethnicity
# https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_17_5YR_DP05&prodType=table
import pandas as pd
demographic_path = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Demographie_Sex_Age_Ethnicity/ACS_17_5YR_DP05_with_ann.csv"

data_demographic = pd.read_csv(demographic_path, sep=",")
data_demographic.columns = data_demographic.loc[0].values
data_demographic = data_demographic.loc[1::]
data_demographic.index = data_demographic.Geography.values
for a in list(data_demographic.columns): 
    if not a.startswith("Margin"): print(a)
data_demographic = data_demographic[["Estimate; SEX AND AGE - Total population", 
                                    "Estimate; SEX AND AGE - Total population - Male", "Percent; SEX AND AGE - Total population - Male",
                                    "Estimate; SEX AND AGE - Total population - Female", "Percent; SEX AND AGE - Total population - Female",
                                    "Estimate; SEX AND AGE - Total population - Sex ratio (males per 100 females)",
                                    "Estimate; SEX AND AGE - Median age (years)",
                                    "Percent; RACE - Total population - One race", "Percent; RACE - Total population - Two or more races",
                                    "Percent; RACE - One race - White", "Percent; RACE - One race - Black or African American",
                                    "Percent; RACE - One race - American Indian and Alaska Native", "Percent; RACE - One race - Asian",
                                    "Percent; RACE - One race - Native Hawaiian and Other Pacific Islander", "Percent; RACE - One race - Some other race",
                                   # "Percent; HISPANIC OR LATINO AND RACE - Total population",
                                    "Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)"]]
data_demographic =  data_demographic.apply(pd.to_numeric)
print(data_demographic.dtypes)


data_demographic.head()

Id
Id2
Geography
Estimate; SEX AND AGE - Total population
Percent; SEX AND AGE - Total population
Percent Margin of Error; SEX AND AGE - Total population
Estimate; SEX AND AGE - Total population - Male
Percent; SEX AND AGE - Total population - Male
Percent Margin of Error; SEX AND AGE - Total population - Male
Estimate; SEX AND AGE - Total population - Female
Percent; SEX AND AGE - Total population - Female
Percent Margin of Error; SEX AND AGE - Total population - Female
Estimate; SEX AND AGE - Total population - Sex ratio (males per 100 females)
Percent; SEX AND AGE - Total population - Sex ratio (males per 100 females)
Percent Margin of Error; SEX AND AGE - Total population - Sex ratio (males per 100 females)
Estimate; SEX AND AGE - Under 5 years
Percent; SEX AND AGE - Under 5 years
Percent Margin of Error; SEX AND AGE - Under 5 years
Estimate; SEX AND AGE - 5 to 9 years
Percent; SEX AND AGE - 5 to 9 years
Percent Margin of Error; SEX AND AGE - 5 to 9 years
Estimate; SEX AND AGE - 10 to 14 years
Percent; SEX AND AGE - 10 to 14 years
Percent Margin of Error; SEX AND AGE - 10 to 14 years
Estimate; SEX AND AGE - 15 to 19 years
Percent; SEX AND AGE - 15 to 19 years
Percent Margin of Error; SEX AND AGE - 15 to 19 years
Estimate; SEX AND AGE - 20 to 24 years
Percent; SEX AND AGE - 20 to 24 years
Percent Margin of Error; SEX AND AGE - 20 to 24 years
Estimate; SEX AND AGE - 25 to 34 years
Percent; SEX AND AGE - 25 to 34 years
Percent Margin of Error; SEX AND AGE - 25 to 34 years
Estimate; SEX AND AGE - 35 to 44 years
Percent; SEX AND AGE - 35 to 44 years
Percent Margin of Error; SEX AND AGE - 35 to 44 years
Estimate; SEX AND AGE - 45 to 54 years
Percent; SEX AND AGE - 45 to 54 years
Percent Margin of Error; SEX AND AGE - 45 to 54 years
Estimate; SEX AND AGE - 55 to 59 years
Percent; SEX AND AGE - 55 to 59 years
Percent Margin of Error; SEX AND AGE - 55 to 59 years
Estimate; SEX AND AGE - 60 to 64 years
Percent; SEX AND AGE - 60 to 64 years
Percent Margin of Error; SEX AND AGE - 60 to 64 years
Estimate; SEX AND AGE - 65 to 74 years
Percent; SEX AND AGE - 65 to 74 years
Percent Margin of Error; SEX AND AGE - 65 to 74 years
Estimate; SEX AND AGE - 75 to 84 years
Percent; SEX AND AGE - 75 to 84 years
Percent Margin of Error; SEX AND AGE - 75 to 84 years
Estimate; SEX AND AGE - 85 years and over
Percent; SEX AND AGE - 85 years and over
Percent Margin of Error; SEX AND AGE - 85 years and over
Estimate; SEX AND AGE - Median age (years)
Percent; SEX AND AGE - Median age (years)
Percent Margin of Error; SEX AND AGE - Median age (years)
Estimate; SEX AND AGE - Under 18 years
Percent; SEX AND AGE - Under 18 years
Percent Margin of Error; SEX AND AGE - Under 18 years
Estimate; SEX AND AGE - 16 years and over
Percent; SEX AND AGE - 16 years and over
Percent Margin of Error; SEX AND AGE - 16 years and over
Estimate; SEX AND AGE - 18 years and over
Percent; SEX AND AGE - 18 years and over
Percent Margin of Error; SEX AND AGE - 18 years and over
Estimate; SEX AND AGE - 21 years and over
Percent; SEX AND AGE - 21 years and over
Percent Margin of Error; SEX AND AGE - 21 years and over
Estimate; SEX AND AGE - 62 years and over
Percent; SEX AND AGE - 62 years and over
Percent Margin of Error; SEX AND AGE - 62 years and over
Estimate; SEX AND AGE - 65 years and over
Percent; SEX AND AGE - 65 years and over
Percent Margin of Error; SEX AND AGE - 65 years and over
Estimate; SEX AND AGE - 18 years and over
Percent; SEX AND AGE - 18 years and over
Percent Margin of Error; SEX AND AGE - 18 years and over
Estimate; SEX AND AGE - 18 years and over - Male
Percent; SEX AND AGE - 18 years and over - Male
Percent Margin of Error; SEX AND AGE - 18 years and over - Male
Estimate; SEX AND AGE - 18 years and over - Female
Percent; SEX AND AGE - 18 years and over - Female
Percent Margin of Error; SEX AND AGE - 18 years and over - Female
Estimate; SEX AND AGE - 18 years and over - Sex ratio (males per 100 females)
Percent; SEX AND AGE - 18 years and over - Sex ratio (males per 100 females)
Percent Margin of Error; SEX AND AGE - 18 years and over - Sex ratio (males per 100 females)
Estimate; SEX AND AGE - 65 years and over
Percent; SEX AND AGE - 65 years and over
Percent Margin of Error; SEX AND AGE - 65 years and over
Estimate; SEX AND AGE - 65 years and over - Male
Percent; SEX AND AGE - 65 years and over - Male
Percent Margin of Error; SEX AND AGE - 65 years and over - Male
Estimate; SEX AND AGE - 65 years and over - Female
Percent; SEX AND AGE - 65 years and over - Female
Percent Margin of Error; SEX AND AGE - 65 years and over - Female
Estimate; SEX AND AGE - 65 years and over - Sex ratio (males per 100 females)
Percent; SEX AND AGE - 65 years and over - Sex ratio (males per 100 females)
Percent Margin of Error; SEX AND AGE - 65 years and over - Sex ratio (males per 100 females)
Estimate; RACE - Total population
Percent; RACE - Total population
Percent Margin of Error; RACE - Total population
Estimate; RACE - Total population - One race
Percent; RACE - Total population - One race
Percent Margin of Error; RACE - Total population - One race
Estimate; RACE - Total population - Two or more races
Percent; RACE - Total population - Two or more races
Percent Margin of Error; RACE - Total population - Two or more races
Estimate; RACE - One race
Percent; RACE - One race
Percent Margin of Error; RACE - One race
Estimate; RACE - One race - White
Percent; RACE - One race - White
Percent Margin of Error; RACE - One race - White
Estimate; RACE - One race - Black or African American
Percent; RACE - One race - Black or African American
Percent Margin of Error; RACE - One race - Black or African American
Estimate; RACE - One race - American Indian and Alaska Native
Percent; RACE - One race - American Indian and Alaska Native
Percent Margin of Error; RACE - One race - American Indian and Alaska Native
Estimate; RACE - One race - American Indian and Alaska Native - Cherokee tribal grouping
Percent; RACE - One race - American Indian and Alaska Native - Cherokee tribal grouping
Percent Margin of Error; RACE - One race - American Indian and Alaska Native - Cherokee tribal grouping
Estimate; RACE - One race - American Indian and Alaska Native - Chippewa tribal grouping
Percent; RACE - One race - American Indian and Alaska Native - Chippewa tribal grouping
Percent Margin of Error; RACE - One race - American Indian and Alaska Native - Chippewa tribal grouping
Estimate; RACE - One race - American Indian and Alaska Native - Navajo tribal grouping
Percent; RACE - One race - American Indian and Alaska Native - Navajo tribal grouping
Percent Margin of Error; RACE - One race - American Indian and Alaska Native - Navajo tribal grouping
Estimate; RACE - One race - American Indian and Alaska Native - Sioux tribal grouping
Percent; RACE - One race - American Indian and Alaska Native - Sioux tribal grouping
Percent Margin of Error; RACE - One race - American Indian and Alaska Native - Sioux tribal grouping
Estimate; RACE - One race - Asian
Percent; RACE - One race - Asian
Percent Margin of Error; RACE - One race - Asian
Estimate; RACE - One race - Asian - Asian Indian
Percent; RACE - One race - Asian - Asian Indian
Percent Margin of Error; RACE - One race - Asian - Asian Indian
Estimate; RACE - One race - Asian - Chinese
Percent; RACE - One race - Asian - Chinese
Percent Margin of Error; RACE - One race - Asian - Chinese
Estimate; RACE - One race - Asian - Filipino
Percent; RACE - One race - Asian - Filipino
Percent Margin of Error; RACE - One race - Asian - Filipino
Estimate; RACE - One race - Asian - Japanese
Percent; RACE - One race - Asian - Japanese
Percent Margin of Error; RACE - One race - Asian - Japanese
Estimate; RACE - One race - Asian - Korean
Percent; RACE - One race - Asian - Korean
Percent Margin of Error; RACE - One race - Asian - Korean
Estimate; RACE - One race - Asian - Vietnamese
Percent; RACE - One race - Asian - Vietnamese
Percent Margin of Error; RACE - One race - Asian - Vietnamese
Estimate; RACE - One race - Asian - Other Asian
Percent; RACE - One race - Asian - Other Asian
Percent Margin of Error; RACE - One race - Asian - Other Asian
Estimate; RACE - One race - Native Hawaiian and Other Pacific Islander
Percent; RACE - One race - Native Hawaiian and Other Pacific Islander
Percent Margin of Error; RACE - One race - Native Hawaiian and Other Pacific Islander
Estimate; RACE - One race - Native Hawaiian and Other Pacific Islander - Native Hawaiian
Percent; RACE - One race - Native Hawaiian and Other Pacific Islander - Native Hawaiian
Percent Margin of Error; RACE - One race - Native Hawaiian and Other Pacific Islander - Native Hawaiian
Estimate; RACE - One race - Native Hawaiian and Other Pacific Islander - Guamanian or Chamorro
Percent; RACE - One race - Native Hawaiian and Other Pacific Islander - Guamanian or Chamorro
Percent Margin of Error; RACE - One race - Native Hawaiian and Other Pacific Islander - Guamanian or Chamorro
Estimate; RACE - One race - Native Hawaiian and Other Pacific Islander - Samoan
Percent; RACE - One race - Native Hawaiian and Other Pacific Islander - Samoan
Percent Margin of Error; RACE - One race - Native Hawaiian and Other Pacific Islander - Samoan
Estimate; RACE - One race - Native Hawaiian and Other Pacific Islander - Other Pacific Islander
Percent; RACE - One race - Native Hawaiian and Other Pacific Islander - Other Pacific Islander
Percent Margin of Error; RACE - One race - Native Hawaiian and Other Pacific Islander - Other Pacific Islander
Estimate; RACE - One race - Some other race
Percent; RACE - One race - Some other race
Percent Margin of Error; RACE - One race - Some other race
Estimate; RACE - Two or more races
Percent; RACE - Two or more races
Percent Margin of Error; RACE - Two or more races
Estimate; RACE - Two or more races - White and Black or African American
Percent; RACE - Two or more races - White and Black or African American
Percent Margin of Error; RACE - Two or more races - White and Black or African American
Estimate; RACE - Two or more races - White and American Indian and Alaska Native
Percent; RACE - Two or more races - White and American Indian and Alaska Native
Percent Margin of Error; RACE - Two or more races - White and American Indian and Alaska Native
Estimate; RACE - Two or more races - White and Asian
Percent; RACE - Two or more races - White and Asian
Percent Margin of Error; RACE - Two or more races - White and Asian
Estimate; RACE - Two or more races - Black or African American and American Indian and Alaska Native
Percent; RACE - Two or more races - Black or African American and American Indian and Alaska Native
Percent Margin of Error; RACE - Two or more races - Black or African American and American Indian and Alaska Native
Estimate; RACE - Race alone or in combination with one or more other races - Total population
Percent; RACE - Race alone or in combination with one or more other races - Total population
Percent Margin of Error; RACE - Race alone or in combination with one or more other races - Total population
Estimate; RACE - Race alone or in combination with one or more other races - Total population - White
Percent; RACE - Race alone or in combination with one or more other races - Total population - White
Percent Margin of Error; RACE - Race alone or in combination with one or more other races - Total population - White
Estimate; RACE - Race alone or in combination with one or more other races - Total population - Black or African American
Percent; RACE - Race alone or in combination with one or more other races - Total population - Black or African American
Percent Margin of Error; RACE - Race alone or in combination with one or more other races - Total population - Black or African American
Estimate; RACE - Race alone or in combination with one or more other races - Total population - American Indian and Alaska Native
Percent; RACE - Race alone or in combination with one or more other races - Total population - American Indian and Alaska Native
Percent Margin of Error; RACE - Race alone or in combination with one or more other races - Total population - American Indian and Alaska Native
Estimate; RACE - Race alone or in combination with one or more other races - Total population - Asian
Percent; RACE - Race alone or in combination with one or more other races - Total population - Asian
Percent Margin of Error; RACE - Race alone or in combination with one or more other races - Total population - Asian
Estimate; RACE - Race alone or in combination with one or more other races - Total population - Native Hawaiian and Other Pacific Islander
Percent; RACE - Race alone or in combination with one or more other races - Total population - Native Hawaiian and Other Pacific Islander
Percent Margin of Error; RACE - Race alone or in combination with one or more other races - Total population - Native Hawaiian and Other Pacific Islander
Estimate; RACE - Race alone or in combination with one or more other races - Total population - Some other race
Percent; RACE - Race alone or in combination with one or more other races - Total population - Some other race
Percent Margin of Error; RACE - Race alone or in combination with one or more other races - Total population - Some other race
Estimate; HISPANIC OR LATINO AND RACE - Total population
Percent; HISPANIC OR LATINO AND RACE - Total population
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population
Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)
Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)
Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Mexican
Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Mexican
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Mexican
Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Puerto Rican
Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Puerto Rican
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Puerto Rican
Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Cuban
Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Cuban
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Cuban
Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Other Hispanic or Latino
Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Other Hispanic or Latino
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Other Hispanic or Latino
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - White alone
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - White alone
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - White alone
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Black or African American alone
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Black or African American alone
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Black or African American alone
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - American Indian and Alaska Native alone
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - American Indian and Alaska Native alone
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - American Indian and Alaska Native alone
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Asian alone
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Asian alone
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Asian alone
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Native Hawaiian and Other Pacific Islander alone
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Native Hawaiian and Other Pacific Islander alone
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Native Hawaiian and Other Pacific Islander alone
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Some other race alone
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Some other race alone
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Some other race alone
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race
Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races
Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races
Estimate; HISPANIC OR LATINO AND RACE - Total housing units
Percent; HISPANIC OR LATINO AND RACE - Total housing units
Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units
Estimate; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population
Percent; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population
Percent Margin of Error; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population
Estimate; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Male
Percent; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Male
Percent Margin of Error; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Male
Estimate; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Female
Percent; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Female
Percent Margin of Error; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Female
Estimate; SEX AND AGE - Total population                                                        int64
Estimate; SEX AND AGE - Total population - Male                                                 int64
Percent; SEX AND AGE - Total population - Male                                                float64

,Estimate; SEX AND AGE - Total population,Estimate; SEX AND AGE - Total population - Male,Percent; SEX AND AGE - Total population - Male,Estimate; SEX AND AGE - Total population - Female,Percent; SEX AND AGE - Total population - Female,Estimate; SEX AND AGE - Total population - Sex ratio (males per 100 females),Estimate; SEX AND AGE - Median age (years),Percent; RACE - Total population - One race,Percent; RACE - Total population - Two or more races,Percent; RACE - One race - White,Percent; RACE - One race - Black or African American,Percent; RACE - One race - American Indian and Alaska Native,Percent; RACE - One race - Asian,Percent; RACE - One race - Native Hawaiian and Other Pacific Islander,Percent; RACE - One race - Some other race,Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)
Alabama,4850771,2350806,48.5,2499965,51.5,94.0,38.7,98.2,1.8,68.4,26.5,0.5,1.3,0.0,1.4,4.1
Alaska,738565,386319,52.3,352246,47.7,109.7,33.9,91.5,8.5,65.3,3.2,14.2,6.2,1.2,1.4,6.8
Arizona,6809946,3385055,49.7,3424891,50.3,98.8,37.2,96.5,3.5,77.5,4.3,4.4,3.1,0.2,7.0,30.9
Arkansas,2977944,1461651,49.1,1516293,50.9,96.4,37.9,97.6,2.4,77.3,15.4,0.7,1.4,0.2,2.5,7.2
California,38982847,19366579,49.7,19616268,50.3,98.7,36.1,95.3,4.7,60.6,5.8,0.7,14.1,0.4,13.7,38.8

In [16]:

data_demographic = data_demographic[["Estimate; SEX AND AGE - Total population - Sex ratio (males per 100 females)",
                                     "Estimate; SEX AND AGE - Median age (years)", 
                                     "Percent; RACE - One race - White", "Percent; RACE - One race - Black or African American",
                                     "Percent; RACE - One race - American Indian and Alaska Native", "Percent; RACE - One race - Asian",
                                     "Percent; RACE - One race - Native Hawaiian and Other Pacific Islander", "Percent; RACE - One race - Some other race",
                                     "Percent; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race)"
                                    ]]
data_demographic.columns = ["Sex_ratio_(males_per_100_females)", 
                            "Estimate_Median_age_years", 
                            "Percent_One_race_White", "Percent_One_race_Black_or_AfricanAmerican",
                            "Percent_One_race_American_Indian_and_AlaskaNative", "Percent_One_race_Asian",
                            "Percent_One_race_NativeHawaiianAndOtherPacificIslander", 
                            "Percent_One_race_Some_otherRace", 
                            "Percent_HISPANIC_OR_LATINO"
                           ]
data_demographic.head()

,Sex_ratio_(males_per_100_females),Estimate_Median_age_years,Percent_One_race_White,Percent_One_race_Black_or_AfricanAmerican,Percent_One_race_American_Indian_and_AlaskaNative,Percent_One_race_Asian,Percent_One_race_NativeHawaiianAndOtherPacificIslander,Percent_One_race_Some_otherRace,Percent_HISPANIC_OR_LATINO
Alabama,94.0,38.7,68.4,26.5,0.5,1.3,0.0,1.4,4.1
Alaska,109.7,33.9,65.3,3.2,14.2,6.2,1.2,1.4,6.8
Arizona,98.8,37.2,77.5,4.3,4.4,3.1,0.2,7.0,30.9
Arkansas,96.4,37.9,77.3,15.4,0.7,1.4,0.2,2.5,7.2
California,98.7,36.1,60.6,5.8,0.7,14.1,0.4,13.7,38.8

In [30]:
# NO information states!!

#https://catalog.data.gov/dataset/selected-trend-table-from-health-united-states-2011-diabetes-prevalence-and-glycemic-contr-63c3a
path_diab_prevalence = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Selected_Trend_Table_from_Health__United_States__2011._Diabetes_prevalence_and_glycemic_control_among_adults_20_years_of_age_and_over__by_sex__age__and_race_and_Hispanic_origin__United_States__selected_years_1988_-_199.csv" 

data_diab_prevalence = pd.read_csv(path_diab_prevalence, sep=",")
#data_diab_prevalence.columns = data_diab_prevalence.loc[0].values
#data_diab_prevalence = data_diab_prevalence.loc[1::]

data_diab_prevalence = data_diab_prevalence[data_diab_prevalence.Category == "All persons"]

print(data_diab_prevalence.Category.value_counts(dropna=False))
print()
print(data_diab_prevalence.Group.value_counts(dropna=False))
print()
print(data_diab_prevalence.Prevalence.value_counts(dropna=False))
print()
print(data_diab_prevalence["Prevalence note"].value_counts(dropna=False))
print()
print(data_diab_prevalence.Group.value_counts(dropna=False))
print(data_diab_prevalence.columns)
data_diab_prevalence.head()

All persons    7
Name: Category, dtype: int64

20 years and over, crude           4
20 years and over, age-adjusted    3
Name: Group, dtype: int64

Physician-diagnosed and undiagnosed diabetes                                         2
Undiagnosed diabetes                                                                 2
Physician-diagnosed diabetes                                                         2
Poor glycemic control (A1c greater than 9%) among persons with diagnosed diabetes    1
Name: Prevalence, dtype: int64

Percent of population                            6
Percent of population with diagnosed diabetes    1
Name: Prevalence note, dtype: int64

20 years and over, crude           4
20 years and over, age-adjusted    3
Name: Group, dtype: int64
Index(['Category', 'Category flag', 'Group', 'Group flag', 'Prevalence',
       'Prevalence note', 'Prevalence flag 1', 'Prevalence flag 2',
       '1988-1994', '1988-1994 flag', '1988-1994 SE', '1988-1994 SE flag',
       '1999-2002', '1999-2002 flag', '1999-2002 SE', '1999-2002 SE flag',
       '2001-2004', '2001-2004 flag', '2001-2004 SE', '2001-2004 SE flag',
       '2003-2006', '2003-2006 flag', '2003-2006 SE', '2003-2006 SE flag'],
      dtype='object')

,Category,Category flag,Group,Group flag,Prevalence,Prevalence note,Prevalence flag 1,Prevalence flag 2,1988-1994,1988-1994 flag,...,1999-2002 SE,1999-2002 SE flag,2001-2004,2001-2004 flag,2001-2004 SE,2001-2004 SE flag,2003-2006,2003-2006 flag,2003-2006 SE,2003-2006 SE flag
0,All persons,5.0,"20 years and over, age-adjusted",4.0,Physician-diagnosed and undiagnosed diabetes,Percent of population,1.0,2.0,9.1,NaN,...,0.4,NaN,10.7,NaN,0.5,NaN,10.6,NaN,0.5,NaN
12,All persons,5.0,"20 years and over, crude",NaN,Physician-diagnosed and undiagnosed diabetes,Percent of population,1.0,2.0,8.4,NaN,...,0.4,NaN,10.4,NaN,0.5,NaN,10.7,NaN,0.6,NaN
27,All persons,5.0,"20 years and over, age-adjusted",4.0,Physician-diagnosed diabetes,Percent of population,1.0,NaN,5.5,NaN,...,0.3,NaN,7.3,NaN,0.3,NaN,7.6,NaN,0.3,NaN
39,All persons,5.0,"20 years and over, crude",NaN,Physician-diagnosed diabetes,Percent of population,1.0,NaN,5.1,NaN,...,0.3,NaN,7.2,NaN,0.4,NaN,7.7,NaN,0.4,NaN
54,All persons,5.0,"20 years and over, age-adjusted",4.0,Undiagnosed diabetes,Percent of population,2.0,NaN,3.6,NaN,...,0.3,NaN,3.3,NaN,0.3,NaN,2.9,NaN,0.4,NaN

In [31]:
# https://chronicdata.cdc.gov/Vision-Eye-Health/Diabetic-Retinopathy-Age-adjusted-Prevalence-/ht3t-s94t

# Data for only 6 states

path_eye = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Diabetic_Retinopathy__Age-adjusted_Prevalence_.csv"


data_eye = pd.read_csv(path_eye, sep=";")
#data_diab_prevalence.columns = data_diab_prevalence.loc[0].values
#data_diab_prevalence = data_diab_prevalence.loc[1::]

print(data_eye.columns)
print()
print(data_eye.LocationDesc.value_counts(dropna=False))
print()
print(data_eye.Topic.value_counts(dropna=False))
print()
print(data_eye.Question.value_counts(dropna=False))
print()
print(data_eye.Response.value_counts(dropna=False))
print()
print(data_eye.Break_Out_Category.value_counts(dropna=False))
print()
print(data_eye.Break_Out.value_counts(dropna=False))

data_eye.head(10)

Index(['Year', 'LocationAbbr', 'LocationDesc', 'Topic', 'Question',
       'DataSource', 'Response', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Low_Confidence_limit', 'High_Confidence_Limit', 'Sample_Size',
       'Break_Out', 'Break_Out_Category', 'GeoLocation', 'TopicId',
       'QuestionId', 'LocationId', 'BreakOutId', 'BreakOutCategoryId',
       'ResponseId'],
      dtype='object')

Alaska           1
Ohio             1
New Jersey       1
Massachusetts    1
California       1
Texas            1
Name: LocationDesc, dtype: int64

Eye Diseases and Injury    6
Name: Topic, dtype: int64

Percentage of Adults 40 Years and Older Who Reported Having Diabetic Retinopathy    6
Name: Question, dtype: int64

NaN    6
Name: Response, dtype: int64

Diabetes    6
Name: Break_Out_Category, dtype: int64

Yes    6
Name: Break_Out, dtype: int64

,Year,LocationAbbr,LocationDesc,Topic,Question,DataSource,Response,Data_Value_Unit,Data_Value_Type,Data_Value,...,Sample_Size,Break_Out,Break_Out_Category,GeoLocation,TopicId,QuestionId,LocationId,BreakOutId,BreakOutCategoryId,ResponseId
0,2011,AK,Alaska,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.0,...,263,Yes,Diabetes,"(64.84507995700051, -147.72205903599973)",T02,Q311_2011,2,Diab1,BOC9,NaN
1,2011,CA,California,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,25.1,...,542,Yes,Diabetes,"(37.63864012300047, -120.99999953799971)",T02,Q311_2011,6,Diab1,BOC9,NaN
2,2011,MA,Massachusetts,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.1,...,658,Yes,Diabetes,"(42.27687047000046, -72.08269067499964)",T02,Q311_2011,25,Diab1,BOC9,NaN
3,2011,NJ,New Jersey,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.7,...,512,Yes,Diabetes,"(40.13057004800049, -74.27369128799967)",T02,Q311_2011,34,Diab1,BOC9,NaN
4,2011,OH,Ohio,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.0,...,"1,153",Yes,Diabetes,"(40.06021014100048, -82.40426005599966)",T02,Q311_2011,39,Diab1,BOC9,NaN
5,2011,TX,Texas,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,NaN,...,NaN,Yes,Diabetes,"(31.827240407000488, -99.42677020599967)",T02,Q311_2011,48,Diab1,BOC9,NaN

In [17]:
# https://wonder.cdc.gov/natality.html
# More information: https://wonder.cdc.gov/wonder/help/natality.html

path_birth = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Natality, 2007-2017.txt"
data_birth = pd.read_csv(path_birth, sep="\t")

print(data_birth.columns)
data_birth.index = data_birth.State.values
data_birth = data_birth[['Birth Rate', 'Fertility Rate', 'Average Age of Mother']]
data_birth.dropna(how="all", inplace=True)
data_birth.drop(data_birth.tail(1).index,inplace=True) # drop last n rows
#print(data_birth.index)
data_birth.head(100)

Index(['Notes', 'State', 'State Code', 'Births', '% of Total Births',
       'Total Population', 'Birth Rate', 'Female Population', 'Fertility Rate',
       'Average Birth Weight', 'Standard Deviation for Average Birth Weight',
       'Average Age of Mother', 'Standard Deviation for Average Age of Mother',
       'Average LMP Gestational Age',
       'Standard Deviation for Average LMP Gestational Age',
       'Average OE Gestational Age',
       'Standard Deviation for Average OE Gestational Age'],
      dtype='object')

                      Birth Rate  Fertility Rate  Average Age of Mother
Alabama                    12.09           62.05                  27.29
Alaska                     14.12           71.51                  28.42
Arizona                    11.67           60.84                  28.21
Arkansas                   12.49           64.98                  26.87
California                 11.93           58.20                  29.82
Colorado                   11.48           56.59                  29.37
Connecticut                 9.82           52.34                  30.37
Delaware                   11.28           60.19                  28.80
District of Columbia       13.78           51.27                  30.41
Florida                    10.66           58.42                  28.91
Georgia                    12.39           60.19                  28.30
Hawaii                     12.27           65.87                  29.35
Idaho                      12.92           67.43                  27.97
Illinois                   11.67           59.00                  29.28
Indiana                    12.33           63.42                  27.81
Iowa                       12.22           64.89                  28.47
Kansas                     12.54           65.38                  28.17
Kentucky                   12.29           64.53                  27.33
Louisiana                  13.03           65.18                  27.45
Maine                       9.21           53.12                  28.90
Maryland                   11.84           60.04                  29.88
Massachusetts              10.31           51.17                  30.76
Michigan                   11.18           59.45                  28.51
Minnesota                  12.30           64.30                  29.68
Mississippi                12.52           63.13                  26.76
Missouri                   11.95           62.33                  28.03
Montana                    11.23           62.07                  28.36
Nebraska                   13.45           69.75                  28.62
Nevada                     11.93           60.69                  28.52
New Hampshire               9.02           50.20                  29.62
New Jersey                 11.24           59.03                  30.47
New Mexico                 11.38           60.13                  27.52
New York                   11.57           57.42                  30.11
North Carolina             11.69           59.57                  28.36
North Dakota               14.21           73.40                  28.50
Ohio                       11.74           62.10                  28.16
Oklahoma                   12.77           65.32                  27.27
Oregon                     10.53           53.84                  29.32
Pennsylvania               10.76           57.79                  29.03
Rhode Island               10.04           50.88                  29.52
South Carolina             11.35           59.05                  27.98
South Dakota               13.95           76.37                  28.26
Tennessee                  12.06           61.73                  27.66
Texas                      13.50           64.91                  28.11
Utah                       15.66           71.96                  28.53
Vermont                     9.07           49.67                  29.52
Virginia                   11.85           59.72                  29.36
Washington                 11.82           59.78                  29.49
West Virginia              10.28           57.95                  27.02
Wisconsin                  11.21           59.95                  28.95
Wyoming                    11.92           64.07                  27.87

In [18]:
# vSmall Area Income and Poverty Estimates (SAIPE)
#https://www.census.gov/data-tools/demo/cedr1/saipe/saipe.html?s_appName=saipe&map_yearSelector=2017&map_geoSelector=aa_c&menu=grid_proxy&s_inclStTot=y&s_USStOnly=y

path_poverty = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/SAIPESNC_15JUL19_10_39_06_54.csv"
data_poverty = pd.read_csv(path_poverty, sep=",")

# exclude US total
data_poverty = data_poverty.loc[1::]
data_poverty.index = data_poverty["State / County Name"].values
print(data_poverty.columns)
#print(data_poverty.Year.value_counts())
#print(data_poverty.index)
data_poverty = data_poverty[["Year", 'All Ages SAIPE Poverty Universe', 'All Ages in Poverty Count', 'Median Household Income in Dollars']]
data_poverty.head()

Index(['Year', 'State', 'County ID', 'State / County Name',
       'All Ages SAIPE Poverty Universe', 'All Ages in Poverty Count',
       'All Ages in Poverty Count LB 90%', 'All Ages in Poverty Count UB 90%',
       '90% Confidence Interval (All Ages in Poverty Count)',
       'All Ages in Poverty Percent', 'All Ages in Poverty Percent LB 90%',
       'All Ages in Poverty Percent UB 90%',
       '90% Confidence Interval (All Ages in Poverty Percent)',
       'Under Age 18 SAIPE Poverty Universe', 'Under Age 18 in Poverty Count',
       'Under Age 18 in Poverty Count LB 90%',
       'Under Age 18 in Poverty Count UB 90%',
       '90% Confidence Interval (Under Age 18 in Poverty Count)',
       'Under Age 18 in Poverty Percent',
       'Under Age 18 in Poverty Percent LB 90%',
       'Under Age 18 in Poverty Percent UB 90%',
       '90% Confidence Interval (Under Age 18 in Poverty Percent)',
       'Ages 5 to 17 in Families SAIPE Poverty Universe',
       'Ages 5 to 17 in Families in Poverty Count',
       'Ages 5 to 17 in Families in Poverty Count LB 90%',
       'Ages 5 to 17 in Families in Poverty Count UB 90%',
       '90% Confidence Interval (Ages 5 to 17 in Families in Poverty Count)',
       'Ages 5 to 17 in Families in Poverty Percent',
       'Ages 5 to 17 in Families in Poverty Percent LB 90%',
       'Ages 5 to 17 in Families in Poverty Percent UB 90%',
       '90% Confidence Interval (Ages 5 to 17 in Families in Poverty Percent)',
       'Under Age 5 SAIPE Poverty Universe', 'Under Age 5 in Poverty Count',
       'Under Age 5 in Poverty Count LB 90%',
       'Under Age 5 in Poverty Count UB 90%',
       '90% Confidence Interval (Under Age 5 in Poverty Count)',
       'Under Age 5 in Poverty Percent',
       'Under Age 5 in Poverty Percent LB 90%',
       'Under Age 5 in Poverty Percent UB 90%',
       '90% Confidence Interval (Under Age 5 in Poverty Percent)',
       'Median Household Income in Dollars',
       'Median Household Income in Dollars LB 90%',
       'Median Household Income in Dollars UB 90%',
       '90% Confidence Interval (Median Household Income in Dollars)'],
      dtype='object')

,Year,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,Median Household Income in Dollars
Alabama,2017,"4,752,519","802,263","$48,193"
Alaska,2017,"720,474","79,428","$74,058"
Arizona,2017,"6,856,072","1,023,337","$56,508"
Arkansas,2017,"2,916,343","475,883","$45,916"
California,2017,"38,793,030","5,164,169","$71,785"

In [19]:
# Air quality index
#https://aqs.epa.gov/aqsweb/airdata/download_files.html

path_aqi = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/annual_aqi_by_cbsa_2019.csv"
data_aqi = pd.read_csv(path_aqi, sep=",")

# exclude US total
#data_aqi = data_aqi.loc[1::]
#data_poverty.index = data_poverty["State / County Name"].values
print(data_aqi.columns)
data_aqi["State"] = data_aqi.CBSA.map(lambda station: station.split(",")[-1])
#print(data_poverty.Year.value_counts())

#data_poverty = data_poverty[["Year", 'All Ages SAIPE Poverty Universe', 'All Ages in Poverty Count', 'Median Household Income in Dollars']]
data_aqi.head()

Index(['CBSA', 'CBSA Code', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'],
      dtype='object')

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State
0,"Aberdeen, WA",10140,2019,31,31,0,0,0,0,0,40,37,23,0,0,0,0,31,0,WA
1,"Akron, OH",10420,2019,90,59,30,1,0,0,0,102,64,43,0,0,12,1,77,0,OH
2,"Albany, GA",10500,2019,54,39,15,0,0,0,0,82,61,35,0,0,0,0,54,0,GA
3,"Albany-Schenectady-Troy, NY",10580,2019,91,72,19,0,0,0,0,92,58,41,1,0,51,0,39,0,NY
4,"Albuquerque, NM",10740,2019,90,85,5,0,0,0,0,58,50,41,0,0,86,0,3,1,NM

In [20]:
data_aqi_full = data_aqi.groupby(by="State", as_index=False)['Days with AQI', "Good Days", "Moderate Days", "Unhealthy for Sensitive Groups Days"].mean()
#data_aqi_full = data_aqi_full[~data_aqi_full.State.str.contains('-',case=False)]
print(data_aqi_full.shape)

data_aqi_full.head(88)

#data_aqi.index = data_aqi.State.values
#data_aqi = data_aqi[["Days with AQI"]]
#print(data_aqi.shape)
#data_aqi.head()

(88, 5)

,State,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days
0,AL,48.727273,41.727273,7.000000,0.000000
1,AR,64.500000,58.500000,5.833333,0.166667
2,AR-MO,90.000000,58.000000,32.000000,0.000000
3,AR-OK,30.000000,27.000000,3.000000,0.000000
4,AZ,89.800000,70.600000,17.300000,1.300000
5,CA,70.366667,59.966667,8.900000,1.400000
6,CO,73.454545,56.636364,16.181818,0.545455
7,DC-VA-MD-WV,120.000000,88.000000,32.000000,0.000000
8,DE,120.000000,98.000000,22.000000,0.000000
9,FL,78.333333,73.666667,4.666667,0.000000
10,GA,80.142857,65.500000,14.571429,0.071429
11,GA-AL,120.000000,100.000000,20.000000,0.000000
12,GA-SC,120.000000,82.000000,38.000000,0.000000
13,HI,89.000000,86.000000,3.000000,0.000000
14,IA,106.714286,76.142857,30.571429,0.000000
15,IA-IL,121.000000,66.000000,55.000000,0.000000
16,IA-IL-MO,30.000000,23.000000,7.000000,0.000000
17,IA-NE-SD,30.000000,21.000000,9.000000,0.000000
18,ID,99.666667,99.000000,0.666667,0.000000
19,ID-WA,31.000000,17.000000,14.000000,0.000000
20,IL,79.555556,59.555556,20.000000,0.000000
21,IL-IN-WI,102.000000,42.000000,60.000000,0.000000
22,IL-MO,31.000000,27.000000,4.000000,0.000000
23,IN,72.687500,61.937500,10.750000,0.000000
24,IN-KY,81.000000,69.000000,12.000000,0.000000
25,IN-MI,80.000000,56.000000,24.000000,0.000000
26,KS,86.333333,76.000000,10.333333,0.000000
27,KY,23.333333,21.666667,1.666667,0.000000
28,KY-IL,16.000000,15.000000,1.000000,0.000000
29,KY-IN,80.000000,74.000000,6.000000,0.000000
...,...,...,...,...,...
58,OH-KY-IN,121.000000,58.000000,62.000000,1.000000
59,OH-PA,90.000000,71.000000,19.000000,0.000000
60,OK,90.222222,70.777778,19.222222,0.222222
61,OR,90.000000,42.000000,45.000000,3.000000
62,OR-WA,31.000000,18.000000,12.000000,1.000000
63,PA,63.000000,51.600000,9.600000,1.200000
64,PA-NJ,90.000000,89.000000,1.000000,0.000000
65,PA-NJ-DE-MD,121.000000,94.000000,27.000000,0.000000
66,RI-MA,91.000000,77.000000,14.000000,0.000000
67,SC,79.750000,67.375000,12.375000,0.000000
68,SC-NC,90.000000,71.000000,18.000000,1.000000
69,TN,81.555556,72.777778,8.777778,0.000000
70,TN-GA,120.000000,82.000000,38.000000,0.000000
71,TN-KY,90.000000,83.000000,7.000000,0.000000
72,TN-MS-AR,120.000000,103.000000,17.000000,0.000000
73,TN-VA,90.000000,57.000000,23.000000,10.000000
74,TX,59.000000,59.000000,0.000000,0.000000
75,UT,120.428571,97.571429,21.714286,1.142857
76,UT-ID,120.000000,95.000000,18.000000,7.000000
77,VA,72.833333,63.500000,9.333333,0.000000
78,VA-NC,96.000000,92.000000,4.000000,0.000000
79,VA-WV,94.000000,82.000000,12.000000,0.000000
80,WA,31.052632,24.578947,6.368421,0.105263
81,WI,59.250000,44.625000,14.500000,0.125000
82,WI-MN,59.000000,45.000000,14.000000,0.000000
83,WV,64.800000,61.400000,3.400000,0.000000
84,WV-KY-OH,90.000000,85.000000,5.000000,0.000000
85,WV-OH,90.333333,69.000000,20.666667,0.666667
86,WY,79.375000,70.875000,8.250000,0.250000
87,WY-ID,91.000000,83.000000,8.000000,0.000000

In [21]:
# Air quality index 2018
#https://aqs.epa.gov/aqsweb/airdata/download_files.html

path_aqi18 = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/annual_aqi_by_cbsa_2018.csv"
data_aqi18 = pd.read_csv(path_aqi18, sep=",")

# exclude US total
#data_aqi = data_aqi.loc[1::]
#data_poverty.index = data_poverty["State / County Name"].values
#print(data_aqi.columns)
data_aqi["State"] = data_aqi.CBSA.map(lambda station: station.split(",")[-1])
print(data_aqi.State.value_counts())
#print(data_poverty.Year.value_counts())

#data_poverty = data_poverty[["Year", 'All Ages SAIPE Poverty Universe', 'All Ages in Poverty Count', 'Median Household Income in Dollars']]
data_aqi18.head(100)

 CA             30
 WA             19
 IN             16
 OH             16
 GA             14
 NC             12
 NY             11
 CO             11
 AL             11
 AZ             10
 OK              9
 TN              9
 IL              9
 WI              8
 SC              8
 WY              8
 MI              8
 UT              7
 IA              7
 MT              7
 LA              7
 MS              6
 AR              6
 KY              6
 VA              6
 PA              5
 NM              5
 MA              5
 ME              5
 WV              5
                ..
 MD-DE           1
 IL-MO           1
 SC-NC           1
 RI-MA           1
 WI-MN           1
 NV              1
 ND-MN           1
 OH-PA           1
 AR-MO           1
 VA-NC           1
 KY-IN           1
 TN-MS-AR        1
 IN-MI           1
 GA-SC           1
 TX              1
 DE              1
 VA-WV           1
 OR-WA           1
 GA-AL           1
 NE-IA           1
 TN-GA           1
 IL-IN-WI        1
 MN-WI           1
 NC-SC           1
 TN-VA           1
 DC-VA-MD-WV     1
 MO-IL           1
 PA-NJ-DE-MD     1
 MA-NH           1
 NH-VT           1
Name: State, Length: 88, dtype: int64

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,"Aberdeen, SD",10100,2018,121,114,5,1,0,0,1,429,45,24,0,0,0,0,109,12
1,"Aberdeen, WA",10140,2018,365,344,17,1,3,0,0,163,39,22,0,0,0,0,365,0
2,"Adjuntas, PR",10260,2018,27,27,0,0,0,0,0,32,23,14,0,0,0,0,27,0
3,"Adrian, MI",10300,2018,322,263,55,4,0,0,0,115,64,38,0,0,221,0,101,0
4,"Akron, OH",10420,2018,365,256,108,1,0,0,0,105,64,42,0,0,171,0,194,0
5,"Albany, GA",10500,2018,356,292,63,1,0,0,0,137,57,30,0,0,0,0,356,0
6,"Albany, OR",10540,2018,273,243,24,6,0,0,0,133,51,24,0,0,0,0,273,0
7,"Albany-Schenectady-Troy, NY",10580,2018,365,288,74,3,0,0,0,119,60,38,0,0,233,0,132,0
8,"Albuquerque, NM",10740,2018,365,151,190,23,1,0,0,165,90,54,0,1,259,0,51,54
9,"Alexandria, LA",10780,2018,119,102,17,0,0,0,0,91,56,31,0,0,0,0,119,0
10,"Allentown-Bethlehem-Easton, PA-NJ",10900,2018,365,246,114,5,0,0,0,136,76,42,0,6,180,0,179,0
11,"Altoona, PA",11020,2018,362,296,65,1,0,0,0,132,59,38,0,0,239,4,119,0
12,"Amarillo, TX",11100,2018,365,224,112,28,1,0,0,161,93,47,0,0,277,68,20,0
13,"Americus, GA",11140,2018,241,219,22,0,0,0,0,80,50,34,0,0,241,0,0,0
14,"Anchorage, AK",11260,2018,365,293,68,3,1,0,0,151,61,30,1,0,145,0,163,56
15,"Ann Arbor, MI",11460,2018,365,281,78,6,0,0,0,150,66,40,0,0,234,0,131,0
16,"Appleton, WI",11540,2018,365,271,85,9,0,0,0,132,67,41,0,0,187,44,134,0
17,"Ardmore, OK",11620,2018,365,253,103,9,0,0,0,129,74,43,0,0,196,0,169,0
18,"Arkadelphia, AR",11660,2018,361,342,19,0,0,0,0,87,46,31,0,0,361,0,0,0
19,"Asheville, NC",11700,2018,365,234,101,24,6,0,0,199,90,46,0,0,174,100,91,0
20,"Ashtabula, OH",11780,2018,365,329,33,3,0,0,0,129,50,31,0,0,243,122,0,0
21,"Athens, OH",11900,2018,94,88,6,0,0,0,0,57,46,28,0,0,0,0,94,0
22,"Athens, TN",11940,2018,356,316,40,0,0,0,0,67,51,29,0,0,0,0,356,0
23,"Athens-Clarke County, GA",12020,2018,332,262,68,2,0,0,0,105,58,39,0,0,151,0,181,0
24,"Atlanta-Sandy Springs-Roswell, GA",12060,2018,365,209,146,10,0,0,0,133,77,48,0,11,157,0,197,0
25,"Atlantic City-Hammonton, NJ",12100,2018,365,327,37,1,0,0,0,112,51,37,0,0,250,0,115,0
26,"Augusta-Richmond County, GA-SC",12260,2018,365,252,107,6,0,0,0,150,61,41,0,0,166,23,176,0
27,"Augusta-Waterville, ME",12300,2018,360,344,16,0,0,0,0,90,46,30,0,114,217,1,25,3
28,"Austin-Round Rock, TX",12420,2018,365,239,117,9,0,0,0,115,67,44,0,15,156,0,193,1
29,"Bakersfield, CA",12540,2018,365,65,170,103,27,0,0,190,142,84,0,0,246,0,106,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,"Canton-Massillon, OH",15940,2018,365,237,125,3,0,0,0,108,69,45,1,0,167,0,197,0
71,"Cape Coral-Fort Myers, FL",15980,2018,365,316,48,1,0,0,0,106,53,35,0,0,294,0,71,0
72,"Carlsbad-Artesia, NM",16100,2018,365,214,131,17,3,0,0,185,90,47,0,8,355,0,2,0
73,"Carson City, NV",16180,2018,365,269,88,5,3,0,0,160,64,44,0,0,311,0,54,0
74,"Casper, WY",16220,2018,365,289,76,0,0,0,0,90,58,42,0,12,345,1,7,0
75,"CaÂ¤on City, CO",15860,2018,20,20,0,0,0,0,0,36,20,15,0,0,0,0,0,20
76,"Cedar City, UT",16260,2018,365,259,106,0,0,0,0,90,71,43,0,0,320,0,45,0
77,"Cedar Rapids, IA",16300,2018,365,249,112,4,0,0,0,129,64,44,0,0,150,3,211,1
78,"Centralia, WA",16500,2018,365,324,35,3,3,0,0,167,53,21,0,0,0,0,365,0
79,"Chambersburg-Waynesboro, PA",16540,2018,353,343,10,0,0,0,0,74,44,32,0,0,353,0,0,0
80,"Champaign-Urbana, IL",16580,2018,365,283,78,4,0,0,0,112,61,42,0,0,222,0,143,0
81,"Charleston, WV",16620,2018,365,303,61,1,0,0,0,105,55,39,2,0,168,1,194,0
82,"Charleston-North Charleston, SC",16700,2018,356,323,33,0,0,0,0,97,50,36,0,3,211,0,141,1
83,"Charlotte-Concord-Gastonia, NC-SC",16740,2018,364,229,125,10,0,0,0,122,74,45,0,2,221,0,140,1
84,"Charlottesville, VA",16820,2018,310,275,35,0,0,0,0,93,52,36,0,0,213,0,97,0
85,"Chattanooga, TN-GA",16860,2018,365,252,112,1,0,0,0,101,62,44,0,0,159,0,206,0
86,"Cheyenne, WY",16940,2018,365,295,69,1,0,0,0,109,61,43,0,7,332,0,22,4
87,"Chicago-Naperville-Elgin, IL-IN-WI",16980,2018,365,117,222,20,6,0,0,177,90,57,0,29,112,6,205,13
88,"Chico, CA",17020,2018,365,152,173,22,11,3,4,445,104,54,0,0,203,0,161,1
89,"Cincinnati, OH-KY-IN",17140,2018,365,163,189,11,2,0,0,159,77,52,0,11,141,5,204,4
90,"Claremont-Lebanon, NH-VT",17200,2018,365,336,29,0,0,0,0,90,48,36,0,0,259,0,106,0
91,"Clarksburg, WV",17220,2018,117,104,13,0,0,0,0,61,52,27,0,0,0,0,117,0
92,"Clarksville, TN-KY",17300,2018,365,289,76,0,0,0,0,90,58,40,0,0,229,0,136,0
93,"Clearlake, CA",17340,2018,357,346,7,1,1,2,0,267,43,33,0,0,344,0,11,2
94,"Cleveland, MS",17380,2018,312,237,73,2,0,0,0,129,67,41,0,0,163,0,149,0
95,"Cleveland-Elyria, OH",17460,2018,365,202,148,15,0,0,0,138,80,48,0,6,177,8,165,9
96,"Clinton, IA",17540,2018,365,244,121,0,0,0,0,100,64,43,0,0,145,2,218,0
97,"Coeur d'Alene, ID",17660,2018,331,272,49,5,4,1,0,204,60,25,0,0,0,0,331,0
98,"College Station-Bryan, TX",17780,2018,332,332,0,0,0,0,0,26,4,0,0,0,0,332,0,0
99,"Colorado Springs, CO",17820,2018,365,233,124,8,0,0,0,119,84,46,0,0,329,0,36,0

In [22]:
# Air quality index
#https://aqs.epa.gov/aqsweb/airdata/download_files.html

path_aqiConc = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/annual_conc_by_monitor_2019.csv"
data_aqiConc = pd.read_csv(path_aqiConc, sep=",")

# exclude US total
#data_aqi = data_aqi.loc[1::]
#data_poverty.index = data_poverty["State / County Name"].values

data_aqiConc = data_aqiConc[data_aqiConc["Metric Used"] == "Daily Mean"]
data_aqiConc = data_aqiConc[data_aqiConc["Parameter Name"] == "PM2.5 - Local Conditions"]
data_aqiConc = data_aqiConc[data_aqiConc["Pollutant Standard"] == "PM25 24-hour 2012"]
data_aqiConc = data_aqiConc[data_aqiConc["Event Type"] == "No Events"]
data_aqiConc = data_aqiConc[data_aqiConc["Method Name"] == "R & P Model 2025 PM-2.5 Sequential Air Sampler w/VSCC - Gravimetric"]


print(data_aqiConc.columns)

#print(data_aqiConc["Parameter Name"].value_counts())
print(data_aqiConc["Sample Duration"].value_counts())
print()
#print(data_aqiConc["Metric Used"].value_counts())
print(data_aqiConc["Method Name"].value_counts())
print()
print(data_aqiConc["Event Type"].value_counts())
print()
print(data_aqiConc["Year"].value_counts())
print()
print(data_aqiConc["Pollutant Standard"].value_counts())
print()
print(data_aqiConc["Units of Measure"].value_counts())


#data_aqi["State"] = data_aqi.CBSA.map(lambda station: station.split(",")[-1])
#print(data_poverty.Year.value_counts())
data_aqiConc = data_aqiConc[['Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Metric Used', 'Method Name', 'Year',
       'Units of Measure', 'Event Type', 'Observation Count',
       'Observation Percent', 'Completeness Indicator', 'Valid Day Count',
       'Required Day Count', 'Exceptional Data Count',
       'Certification Indicator', 'Num Obs Below MDL', 'Arithmetic Mean',
       'Arithmetic Standard Dev','State Name']]
data_aqiConc.head()

Index(['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Metric Used', 'Method Name', 'Year',
       'Units of Measure', 'Event Type', 'Observation Count',
       'Observation Percent', 'Completeness Indicator', 'Valid Day Count',
       'Required Day Count', 'Exceptional Data Count', 'Null Data Count',
       'Primary Exceedance Count', 'Secondary Exceedance Count',
       'Certification Indicator', 'Num Obs Below MDL', 'Arithmetic Mean',
       'Arithmetic Standard Dev', '1st Max Value', '1st Max DateTime',
       '2nd Max Value', '2nd Max DateTime', '3rd Max Value',
       '3rd Max DateTime', '4th Max Value', '4th Max DateTime',
       '1st Max Non Overlapping Value', '1st NO Max DateTime',
       '2nd Max Non Overlapping Value', '2nd NO Max DateTime',
       '99th Percentile', '98th Percentile', '95th Percentile',
       '90th Percentile', '75th Percentile', '50th Percentile',
       '10th Percentile', 'Local Site Name', 'Address', 'State Name',
       'County Name', 'City Name', 'CBSA Name', 'Date of Last Change'],
      dtype='object')
24 HOUR    323
Name: Sample Duration, dtype: int64

R & P Model 2025 PM-2.5 Sequential Air Sampler w/VSCC - Gravimetric    323
Name: Method Name, dtype: int64

No Events    323
Name: Event Type, dtype: int64

2019    323
Name: Year, dtype: int64

PM25 24-hour 2012    323
Name: Pollutant Standard, dtype: int64

Micrograms/cubic meter (LC)    323
Name: Units of Measure, dtype: int64

/home/adrian/miniconda3/envs/deepscience/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (38,40,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Parameter Name,Sample Duration,Pollutant Standard,Metric Used,Method Name,Year,Units of Measure,Event Type,Observation Count,Observation Percent,Completeness Indicator,Valid Day Count,Required Day Count,Exceptional Data Count,Certification Indicator,Num Obs Below MDL,Arithmetic Mean,Arithmetic Standard Dev,State Name
1,PM2.5 - Local Conditions,24 HOUR,PM25 24-hour 2012,Daily Mean,R & P Model 2025 PM-2.5 Sequential Air Sampler...,2019,Micrograms/cubic meter (LC),No Events,26,21,N,26,121,0,Certification not required,0,7.100000,2.602921,Alabama
5,PM2.5 - Local Conditions,24 HOUR,PM25 24-hour 2012,Daily Mean,R & P Model 2025 PM-2.5 Sequential Air Sampler...,2019,Micrograms/cubic meter (LC),No Events,24,20,N,24,121,0,Certification not required,0,6.183333,3.447705,Alabama
9,PM2.5 - Local Conditions,24 HOUR,PM25 24-hour 2012,Daily Mean,R & P Model 2025 PM-2.5 Sequential Air Sampler...,2019,Micrograms/cubic meter (LC),No Events,28,23,N,28,121,0,Certification not required,0,5.985714,2.730583,Alabama
13,PM2.5 - Local Conditions,24 HOUR,PM25 24-hour 2012,Daily Mean,R & P Model 2025 PM-2.5 Sequential Air Sampler...,2019,Micrograms/cubic meter (LC),No Events,27,22,N,27,121,0,Certification not required,0,6.581481,4.372294,Alabama
17,PM2.5 - Local Conditions,24 HOUR,PM25 24-hour 2012,Daily Mean,R & P Model 2025 PM-2.5 Sequential Air Sampler...,2019,Micrograms/cubic meter (LC),No Events,26,21,N,26,121,0,Certification not required,0,6.865385,3.679450,Alabama

In [23]:
# Gini coeffficient
path_gini = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Gini/ACS_17_5YR_B19083_with_ann.csv"
data_gini = pd.read_csv(path_gini, sep=",")
data_gini.columns = data_gini.loc[0]
data_gini = data_gini.loc[1::]
data_gini.index = data_gini.Geography.values
data_gini = data_gini[["Estimate; Gini Index"]]
data_gini["Estimate; Gini Index"] = pd.to_numeric(data_gini["Estimate; Gini Index"])

data_gini.head()

# exclude US total
#data_aqi = data_aqi.loc[1::]
#data_poverty.index = data_poverty["State / County Name"].values

0           Estimate; Gini Index
Alabama                   0.4776
Alaska                    0.4180
Arizona                   0.4690
Arkansas                  0.4732
California                0.4889

In [24]:
# Unemployment 
# https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_17_5YR_S2301&prodType=table
path_unemploy = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Unemployment/ACS_17_5YR_S2301_with_ann.csv"
data_unemploy = pd.read_csv(path_unemploy, sep=",")
data_unemploy.columns = data_unemploy.loc[0]
data_unemploy = data_unemploy.loc[1::]
data_unemploy.index = data_unemploy.Geography.values
print(data_unemploy.columns)
data_unemploy = data_unemploy[['Unemployment rate; Estimate; Population 16 years and over',
       ]]
data_unemploy.columns = ['Unemployment-rate-Population-16-years-and-over__2017' ]
data_unemploy.head()

Index(['Id', 'Id2', 'Geography',
       'Total; Estimate; Population 16 years and over',
       'Total; Margin of Error; Population 16 years and over',
       'Labor Force Participation Rate; Estimate; Population 16 years and over',
       'Labor Force Participation Rate; Margin of Error; Population 16 years and over',
       'Employment/Population Ratio; Estimate; Population 16 years and over',
       'Employment/Population Ratio; Margin of Error; Population 16 years and over',
       'Unemployment rate; Estimate; Population 16 years and over',
       ...
       'Unemployment rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Some college or associate's degree',
       'Unemployment rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Some college or associate's degree',
       'Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher',
       'Total; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher',
       'Labor Force Participation Rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher',
       'Labor Force Participation Rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher',
       'Employment/Population Ratio; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher',
       'Employment/Population Ratio; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher',
       'Unemployment rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher',
       'Unemployment rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher'],
      dtype='object', name=0, length=283)

           Unemployment-rate-Population-16-years-and-over__2017
Alabama                                                   7.4
Alaska                                                    7.7
Arizona                                                   7.1
Arkansas                                                  6.3
California                                                7.7

In [25]:
# Deprivation
# https://www.neighborhoodatlas.medicine.wisc.edu/
path_deprivation = "/home/adrian/PhD/Data/SocioeconomicEnvironmentalFactors/Deprivation/US_blockgroup_15.txt"
data_deprivation = pd.read_csv(path_deprivation, sep=",")
data_deprivation.head(100)

            gisjoin         fips adi_natrank adi_staternk
0   G01000100208022  10010208022          35            2
1   G01000100208023  10010208023          61            4
2   G01000100208024  10010208024          48            2
3   G01007300129114  10730129114          13            1
4   G01007300129121  10730129121          74            6
5   G01007300129122  10730129122          63            4
6   G01007300129123  10730129123          66            4
7   G01007300129131  10730129131          55            3
8   G01007300129132  10730129132          53            3
9   G01007300129141  10730129141          36            2
10  G01007300129151  10730129151          25            1
11  G01007300129152  10730129152          11            1
12  G01007300129153  10730129153          28            1
13  G01007300129154  10730129154          70            5
14  G01007300129155  10730129155          17            1
15  G01007300130021  10730130021          85            8
16  G01007300130022  10730130022          95           10
17  G01007300131001  10730131001          90            9
18  G01007300131002  10730131002          89            8
19  G01007300131003  10730131003          92            9
20  G01007300131004  10730131004          92            9
21  G01007300132001  10730132001          71            5
22  G01007300132002  10730132002          85            8
23  G01007300132003  10730132003          79            6
24  G01007300133001  10730133001          97           10
25  G01007300133002  10730133002          87            8
26  G01007300133003  10730133003          87            8
27  G01007300134001  10730134001          72            5
28  G01007300134002  10730134002          61            4
29  G01007300134003  10730134003          63            4
..              ...          ...         ...          ...
70  G01007300143021  10730143021          25            1
71  G01007300144041  10730144041          28            1
72  G01007300144042  10730144042          31            1
73  G01007300144043  10730144043          29            1
74  G01007300144051  10730144051          50            3
75  G01007300144052  10730144052          36            2
76  G01007300144061  10730144061          14            1
77  G01007300144062  10730144062          26            1
78  G01007300144063  10730144063          17            1
79  G01007300144064  10730144064          10            1
80  G01007300144081  10730144081          87            8
81  G01007300144082  10730144082          24            1
82  G01007300144091  10730144091          25            1
83  G01007300144092  10730144092          34            1
84  G01007300144101  10730144101           9            1
85  G01007300144102  10730144102          45            2
86  G01007300144121  10730144121          24            1
87  G01007300144122  10730144122          28            1
88  G01007300144131  10730144131          19            1
89  G01007300144132  10730144132          17            1
90  G01007300144133  10730144133           8            1
91  G01007500300001  10750300001          78            6
92  G01007500300002  10750300002          80            7
93  G01007500300003  10750300003          85            8
94  G01007500300004  10750300004          94            9
95  G01007500300005  10750300005          84            7
96  G01007500301001  10750301001          97           10
97  G01007500301002  10750301002          86            8
98  G01007500301003  10750301003          94            9
99  G01007500301004  10750301004         100           10

[100 rows x 4 columns]

# Merge all preprocessed files

In [26]:
print(joined_obesity.shape)
#print(joined_obesity.index)
print(data_heart_total.shape)
#print(data_heart_total.index)

print(data_income.shape)
#print(data_income.index)

print(data_birth.shape)
#print(data_birth.index)

#print(data_aqi_full.shape)
print(data_gini.shape)
#print(data_gini.index)

print(data_unemploy.shape)
#print(data_unemploy.index)
print(joined_air.shape)
#print(joined_air.index)

print(data_demographic.shape)


#merge = joined_air.join(joined_obesity).join(data_heart_total).join(data_income).join(data_birth).join(data_gini).join(data_unemploy).join(data_diab).join(data_cdi_total)
merge = data_cdi_total.join(joined_obesity).join(data_heart_total).join(data_income).join(data_birth).join(data_gini).join(data_unemploy).join(data_diab).join(data_demographic)

print(merge.shape)
merge.head(51)

(54, 3)
(57, 1)
(52, 1)
(51, 3)
(52, 1)
(52, 1)
(51, 5)
(52, 9)
(55, 23)

,LocationAbbr,CDI__2016__Prevalence_depressive_disorders_adults_>=18years_with_diagnosed_diabetes__%,CDI__2016__Prevalence_diagnosed_diabetes_among_adults_aged_>=18_years__%,Obesity-Weight__2014__Percent-of-WIC-children-aged-2-to-4-years-who-have-an-overweight-classification,Obesity-Weight__2014__Percent-of-WIC-children-aged-2-to-4-years-who-have-obesity,Obesity-Weight__2014__Percent-of-WIC-children-aged-3-23-months-old-who-have-a-high-weight-for-length,HeartDiseaseMortality_per100000population__2014__ageAdjusted_3yearAverage,Mean income (dollars); Estimate; All households,Birth Rate,Fertility Rate,...,Percentage_Diabetes_Diagnosed_2016,Sex_ratio_(males_per_100_females),Estimate_Median_age_years,Percent_One_race_White,Percent_One_race_Black_or_AfricanAmerican,Percent_One_race_American_Indian_and_AlaskaNative,Percent_One_race_Asian,Percent_One_race_NativeHawaiianAndOtherPacificIslander,Percent_One_race_Some_otherRace,Percent_HISPANIC_OR_LATINO
Guam,GU,14.6,7.7,12.5,8.7,8.0,523.1,NaN,NaN,NaN,...,11.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delaware,DE,22.6,11.8,16.2,17.2,13.4,324.0,86577.0,11.28,60.19,...,9.1,93.8,39.8,69.1,21.9,0.4,3.9,0.0,2.0,9.0
United States,US,25.4,12.1,NaN,NaN,NaN,327.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alabama,AL,32.1,10.5,16.5,16.3,13.0,437.9,66337.0,12.09,62.05,...,13.2,94.0,38.7,68.4,26.5,0.5,1.3,0.0,1.4,4.1
Alaska,AK,25.4,8.9,17.8,19.1,14.4,280.7,92674.0,14.12,71.51,...,7.7,109.7,33.9,65.3,3.2,14.2,6.2,1.2,1.4,6.8
Arizona,AZ,27,10.4,15.4,13.3,12.0,268.7,77451.0,11.67,60.84,...,9.7,98.8,37.2,77.5,4.3,4.4,3.1,0.2,7.0,30.9
Arkansas,AR,31.9,11.5,15.5,14.4,10.7,421.4,63560.0,12.49,64.98,...,12.1,96.4,37.9,77.3,15.4,0.7,1.4,0.2,2.5,7.2
California,CA,19.6,9.3,16.2,16.6,13.3,284.6,101761.0,11.93,58.20,...,9.7,98.7,36.1,60.6,5.8,0.7,14.1,0.4,13.7,38.8
Colorado,CO,27.4,9.4,14.6,8.5,6.1,248.6,92465.0,11.48,56.59,...,6.2,101.0,36.5,84.2,4.1,0.9,3.0,0.2,4.1,21.3
Connecticut,CT,23,13.1,15.4,15.3,9.5,285.9,107420.0,9.82,52.34,...,8.5,95.3,40.8,76.7,10.5,0.3,4.4,0.0,5.1,15.4
District of Columbia,DC,23.7,12.1,14.5,13.0,10.9,393.8,121095.0,13.78,51.27,...,8.4,90.3,33.9,40.7,47.7,0.3,3.8,0.0,4.6,10.7
Florida,FL,22.2,10.6,14.0,12.7,11.7,290.9,76053.0,10.66,58.42,...,9.8,95.7,41.8,75.7,16.1,0.3,2.7,0.1,2.6,24.7
Georgia,GA,24.3,10.8,15.2,13.0,9.8,347.5,79157.0,12.39,60.19,...,11.4,95.0,36.4,59.4,31.3,0.3,3.8,0.1,2.8,9.3
Hawaii,HI,19.7,9.2,13.6,10.3,10.0,264.1,98553.0,12.27,65.87,...,9.5,100.9,38.8,25.1,1.8,0.2,38.0,10.0,1.0,10.2
Idaho,ID,21.1,11.2,15.2,11.6,8.4,293.9,69958.0,12.92,67.43,...,8.1,100.5,35.9,91.0,0.7,1.3,1.4,0.1,2.9,12.2
Illinois,IL,23.7,8.4,15.4,15.2,11.5,331.0,88160.0,11.67,59.00,...,9.5,96.5,37.7,71.9,14.3,0.2,5.2,0.0,6.0,16.8
Indiana,IN,23.6,13.6,16.0,14.3,11.5,355.6,71510.0,12.33,63.42,...,10.4,97.1,37.5,83.9,9.3,0.2,2.1,0.0,2.2,6.7
Iowa,IA,21.3,11.5,17.1,14.7,13.5,315.1,75455.0,12.22,64.89,...,8.1,98.6,38.1,90.6,3.4,0.3,2.3,0.1,1.3,5.7
Kansas,KS,22.9,8.1,16.9,12.8,10.7,305.0,75822.0,12.54,65.38,...,8.5,99.2,36.3,84.9,5.8,0.8,2.8,0.1,2.2,11.5
Kentucky,KY,32.1,8.8,13.7,13.3,12.2,387.8,67090.0,12.29,64.53,...,11.8,97.0,38.6,87.3,8.0,0.2,1.3,0.1,0.9,3.4
Louisiana,LA,27.6,11.1,15.2,13.2,15.3,414.0,65910.0,13.03,65.18,...,11.1,95.8,36.4,62.4,32.2,0.6,1.7,0.0,1.2,5.0
Maine,ME,28.7,9,15.6,15.1,10.2,296.2,73598.0,9.21,53.12,...,8.5,95.9,44.3,94.6,1.3,0.6,1.1,0.0,0.2,1.5
Maryland,MD,19.6,9.2,16.6,16.5,13.6,328.2,106035.0,11.84,60.04,...,9.8,94.1,38.5,56.6,29.7,0.3,6.2,0.0,3.9,9.6
Massachusetts,MA,24.5,11.6,15.9,16.6,14.3,270.4,106641.0,10.31,51.17,...,8.3,94.2,39.4,78.9,7.4,0.2,6.3,0.0,4.1,11.2
Michigan,MI,30.8,10.5,16.4,13.4,11.6,387.7,75449.0,11.18,59.45,...,9.8,96.7,39.6,78.7,13.8,0.5,2.9,0.0,1.2,4.9
Minnesota,MN,24,11.3,15.5,12.3,10.8,228.0,90915.0,12.30,64.30,...,7.6,99.0,37.9,83.7,6.0,1.0,4.7,0.0,1.7,5.2
Mississippi,MS,27,8.6,13.9,14.5,15.5,456.7,60017.0,12.52,63.13,...,12.4,94.2,36.9,58.8,37.6,0.4,1.0,0.0,0.9,3.0
Missouri,MO,31.5,11.1,15.5,13.0,9.6,379.2,72959.0,11.95,62.33,...,10.2,96.4,38.4,82.4,11.6,0.4,1.9,0.1,1.2,4.0
Montana,MT,26.2,12,15.8,12.5,9.3,297.1,70994.0,11.23,62.07,...,6.9,101.1,39.8,89.0,0.4,6.5,0.7,0.1,0.5,3.6
Nebraska,NE,27.1,9.5,18.2,16.9,14.9,288.3,77235.0,13.45,69.75,...,8.0,99.3,36.3,87.8,4.7,0.8,2.2,0.1,1.9,10.5
Nevada,NV,28.3,11.3,14.8,12.0,12.2,383.1,78424.0,11.93,60.69,...,10.1,100.9,37.7,67.1,8.8,1.1,8.1,0.7,9.7,28.2
New Hampshire,NH,28.6,9.8,17.5,15.1,11.4,288.6,94780.0,9.02,50.20,...,7.7,98.0,42.7,93.4,1.4,0.2,2.5,0.0,0.5,3.4
New Jersey,NJ,18,13,15.2,15.3,13.9,325.6,110120.0,11.24,59.03,...,8.1,95.3,39.6,67.9,13.5,0.2,9.4,0.0,6.4,19.7
New Mexico,NM,26.3,7.9,14.1,12.5,9.7,279.5,64604.0,11.38,60.13,...,10.4,98.0,37.3,74.2,2.0,9.5,1.4,0.1,9.5,48.2
New York,NY,18.3,12.7,15.8,14.3,11.0,352.9,97116.0,11.57,57.42,...,9.4,94.2,38.4,63.8,15.7,0.4,8.3,0.0,8.7,18.8
North Carolina,NC,26.8,11.2,16.0,15.0,11.6,313.9,74106.0,11.69,59.57,...,10.1,94.9,38.4,69.0,21.5,1.2,2.7,0.1,3.1,9.1
North Dakota,ND,20.2,7.2,17.5,14.4,11.1,284.9,80663.0,14.21,73.40,...,8.2,105.2,35.1,87.7,2.3,5.3,1.4,0.0,0.9,3.3
Ohio,OH,22.1,8.4,15.8,13.1,12.3,365.5,73337.0,11.74,62.10,...,9.7,96.0,39.3,81.9,12.3,0.2,2.0,0.0,0.9,3.6
Oklahoma,OK,34.6,10.4,15.8,13.8,9.7,446.4,68020.0,12.77,65.32,...,10.9,98.2,36.3,72.6,7.3,7.4,2.1,0.1,2.7,10.1
Oregon,OR,36.8,9.4,17.9,15.0,10.7,261.1,80144.0,10.53,53.84,...,8.4,98.2,39.2,84.9,1.9,1.1,4.1,0.4,3.0,12.7
Pennsylvania,PA,23.2,15,14.9,12.9,11.8,344.5,81006.0,10.76,57.79,...,9.6,95.9,40.7,81.1,11.1,0.2,3.3,0.0,2.0,6.8
Rhode Island,RI,31.3,9.8,16.5,16.3,14.2,314.0,85279.0,10.04,50.88,...,8.6,94.3,39.9,80.9,6.5,0.5,3.4,0.1,5.7,14.6
South Carolina,SC,29.4,8.3,14.1,12.0,12.1,345.7,70214.0,11.35,59.05,...,11.5,94.4,39.0,67.3,27.2,0.3,1.5,0.1,1.5,5.5
South Dakota,SD,19,10,19.0,17.1,15.3,294.3,73458.0,13.95,76.37,...,6.9,101.3,36.8,84.7,1.7,8.7,1.4,0.0,0.8,3.5
Tennessee,TN,28.7,15.3,15.4,14.9,11.9,397.8,72008.0,12.06,61.73,...,11.2,95.2,38.6,77.8,16.8,0.3,1.7,0.1,1.3,5.2
Texas,TX,18.1,12.7,15.6,14.9,14.6,331.1,82768.0,13.50,64.91,...,10.9,98.7,34.3,74.6,12.0,0.5,4.5,0.1,5.8,38.9
Utah,UT,27.6,7.5,11.6,8.2,6.9,293.3,86442.0,15.66,71.96,...,7.7,101.3,30.5,86.8,1.1,1.1,2.3,0.9,5.0,13.7
Vermont,VT,32.3,10.8,16.6,14.1,9.6,296.5,76560.0,9.07,49.67,...,7.3,97.3,42.8,94.5,1.3,0.3,1.5,0.0,0.4,1.8
Virginia,VA,22.6,13.5,19.4,20.0,22.6,301.6,97639.0,11.85,59.72,...,9.6,96.8,38.0,68.4,19.2,0.3,6.2,0.1,2.4,9.0
Washington,WA,29.6,10.2,17.3,13.6,11.1,267.3,94297.0,11.82,59.78,...,8.6,99.8,37.6,76.7,3.7,1.3,8.1,0.6,4.1,12.3
West Virginia,WV,32.9,6.6,15.9,16.4,11.9,372.9,59557.0,10.28,57.95,...,12.7,97.7,42.2,93.3,3.6,0.2,0.8,0.0,0.4,1.5

In [27]:
merge.to_parquet("socioEconom_environmental_factors_20160718.parquet")