In [78]:
import pandas as pd

cdi_path = "/Users/adrianahne/Desktop/INSERM/Data/U.S._Chronic_Disease_Indicators__Diabetes.csv"

data_cdi = pd.read_csv(cdi_path, sep=";")

data_cdi = data_cdi[data_cdi.YearEnd == 2016]
data_cdi = data_cdi[data_cdi.StratificationCategory1 == "Overall"]
data_cdi = data_cdi[data_cdi.DataValueType == "Crude Prevalence"]


print(data_cdi.columns)
print()
print(data_cdi.YearEnd.value_counts(dropna=False))
print()
print(data_cdi.Question.value_counts(dropna=False))
print()
data_cdi.head()

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueTypeID',
       'DataValueType', 'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'TopicID', 'QuestionID', 'ResponseID', 'LocationID',
       'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

2016    660
Name: YearEnd, dtype: int64

Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes               55
Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes       55
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes    55
Foot examination among adults aged >= 18 years with diagnosed diabetes                                 55
Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes       55
Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes               55
Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course       55
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes    55
Diabetes prevalence among women aged 18-44 years                                                       55
Prevalence of diagnosed diabetes among adults aged >= 18 years                                         55
Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                          55
Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes              55
Name: Question, dtype: int64

/Users/adrianahne/miniconda3/envs/dataScienceEnv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,11,12,19,20,21,22,26,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueTypeID,...,TopicID,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,HI,Hawaii,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,15,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,ID,Idaho,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,16,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,IL,Illinois,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,17,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,MN,Minnesota,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,27,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,GU,Guam,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,CRDPREV,...,DIA,DIA2_2,NaN,66,OVERALL,OVR,NaN,NaN,NaN,NaN

In [25]:

nutr_path = "/Users/adrianahne/Desktop/INSERM/Data/Nutrition__Physical_Activity__and_Obesity_-_Women__Infant__and_Child.csv"

data_nutr = pd.read_csv(nutr_path, sep=";")

data_nutr = data_nutr[data_nutr.YearEnd == 2014]
data_nutr = data_nutr[data_nutr.StratificationCategory1 == "Total"]
#data_nutr = data_nutr[data_nutr.DataValueType == "Crude Prevalence"]


print(data_nutr.columns)
print()
print(data_nutr.Question.value_counts())
print()
data_nutr.head()

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(months)', 'Gender', 'Race/Ethnicity',
       'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID',
       'LocationID', 'StratificationCategory1', 'Stratification1',
       'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

Percent of WIC children aged 3-23 months old who have a high weight-for-length     54
Percent of WIC children aged 2 to 4 years who have an overweight classification    54
Percent of WIC children aged 2 to 4 years who have obesity                         54
Name: Question, dtype: int64

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
39,2014,2014,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q040,VALUE,1,Total,Total,OVR,OVERALL
82,2014,2014,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q041,VALUE,1,Total,Total,OVR,OVERALL
94,2014,2014,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 3-23 months old w...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q060,VALUE,1,Total,Total,OVR,OVERALL
138,2014,2014,AK,Alaska,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",OWS,OWS1,Q040,VALUE,2,Total,Total,OVR,OVERALL
182,2014,2014,AK,Alaska,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",OWS,OWS1,Q041,VALUE,2,Total,Total,OVR,OVERALL

In [38]:
# https://catalog.data.gov/dataset/air-quality-measures-on-the-national-environmental-health-tracking-network
air_path = "/Users/adrianahne/Desktop/INSERM/Data/Air_Quality_Measures_on_the_National_Environmental_Health_Tracking_Network.csv"

data_air = pd.read_csv(air_path, sep=",")

data_air = data_air[data_air.ReportYear == 2013] # 2011
#data_air = data_air[data_air.MeasureName == "Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard"]
#data_air = data_air[data_air.StateName == "Washington"]


print(data_air.columns)
print()
print(data_air.ReportYear.value_counts())
print()
print(data_air.MeasureType.value_counts())
print()
print(data_air.UnitName.value_counts())

print()
print(data_air.MeasureName.value_counts())
data_air.head(50)

Index(['MeasureId', 'MeasureName', 'MeasureType', 'StratificationLevel',
       'StateFips', 'StateName', 'CountyFips', 'CountyName', 'ReportYear',
       'Value', 'Unit', 'UnitName', 'DataOrigin', 'MonitorOnly'],
      dtype='object')

2013    3066
Name: ReportYear, dtype: int64

Counts     2059
Percent     517
Average     490
Name: MeasureType, dtype: int64

No Units                     2059
Percent                       517
Micograms per cubic meter     490
Name: UnitName, dtype: int64

Number of person-days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard               771
Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard                      771
Percent of days with PM2.5 levels over the National Ambient Air Quality Standard (NAAQS)                                           517
Person-days with PM2.5 over the National Ambient Air Quality Standard                                                              517
Annual average ambient concentrations of PM2.5 in micrograms per cubic meter (based on seasonal averages and daily measurement)    490
Name: MeasureName, dtype: int64

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
78,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1033,Colbert,2013,0.0,%,Percent,Monitor Only,1
409,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1003,Baldwin,2013,0.0,No Units,No Units,Monitor Only,1
410,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1033,Colbert,2013,0.0,No Units,No Units,Monitor Only,1
411,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1049,DeKalb,2013,0.0,No Units,No Units,Monitor Only,1
412,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1051,Elmore,2013,0.0,No Units,No Units,Monitor Only,1
413,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1055,Etowah,2013,0.0,No Units,No Units,Monitor Only,1
414,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1069,Houston,2013,0.0,No Units,No Units,Monitor Only,1
415,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1073,Jefferson,2013,1.0,No Units,No Units,Monitor Only,1
416,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1089,Madison,2013,0.0,No Units,No Units,Monitor Only,1
417,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1097,Mobile,2013,0.0,No Units,No Units,Monitor Only,1
418,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1101,Montgomery,2013,0.0,No Units,No Units,Monitor Only,1
419,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1103,Morgan,2013,0.0,No Units,No Units,Monitor Only,1
420,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1113,Russell,2013,0.0,No Units,No Units,Monitor Only,1
421,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1117,Shelby,2013,0.0,No Units,No Units,Monitor Only,1
422,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1119,Sumter,2013,0.0,No Units,No Units,Monitor Only,1
423,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,No Units,No Units,Monitor Only,1
425,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1003,Baldwin,2013,0.0,No Units,No Units,Monitor Only,1
426,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1033,Colbert,2013,0.0,No Units,No Units,Monitor Only,1
427,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1049,DeKalb,2013,0.0,No Units,No Units,Monitor Only,1
428,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1051,Elmore,2013,0.0,No Units,No Units,Monitor Only,1
429,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1055,Etowah,2013,0.0,No Units,No Units,Monitor Only,1
430,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1069,Houston,2013,0.0,No Units,No Units,Monitor Only,1
431,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1073,Jefferson,2013,659479.0,No Units,No Units,Monitor Only,1
432,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1089,Madison,2013,0.0,No Units,No Units,Monitor Only,1
433,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1097,Mobile,2013,0.0,No Units,No Units,Monitor Only,1
434,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1101,Montgomery,2013,0.0,No Units,No Units,Monitor Only,1
435,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1103,Morgan,2013,0.0,No Units,No Units,Monitor Only,1
436,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1113,Russell,2013,0.0,No Units,No Units,Monitor Only,1
437,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1117,Shelby,2013,0.0,No Units,No Units,Monitor Only,1
438,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1119,Sumter,2013,0.0,No Units,No Units,Monitor Only,1
439,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,No Units,No Units,Monitor Only,1
468,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1055,Etowah,2013,0.0,%,Percent,Monitor Only,1
489,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1097,Mobile,2013,0.0,%,Percent,Monitor Only,1
515,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1097,Mobile,2013,0.0,No Units,No Units,Monitor Only,1
516,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1101,Montgomery,2013,0.0,%,Percent,Monitor Only,1
520,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1117,Shelby,2013,0.0,%,Percent,Monitor Only,1
530,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1069,Houston,2013,0.0,%,Percent,Monitor Only,1
534,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1003,Baldwin,2013,0.0,%,Percent,Monitor Only,1
540,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1121,Talladega,2013,0.0,%,Percent,Monitor Only,1
551,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,%,Percent,Monitor Only,1
587,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1113,Russell,2013,0.0,%,Percent,Monitor Only,1
607,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1089,Madison,2013,0.0,%,Percent,Monitor Only,1
612,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1073,Jefferson,2013,0.0,%,Percent,Monitor Only,1
628,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1103,Morgan,2013,0.0,%,Percent,Monitor Only,1
646,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1049,DeKalb,2013,0.0,%,Percent,Monitor Only,1
661,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1125,Tuscaloosa,2013,0.0,No Units,No Units,Monitor Only,1
684,85,Percent of days with PM2.5 levels over the Nat...,Percent,State x County,1,Alabama,1027,Clay,2013,0.0,%,Percent,Monitor Only,1
719,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1055,Etowah,2013,0.0,No Units,No Units,Monitor Only,1
763,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1101,Montgomery,2013,0.0,No Units,No Units,Monitor Only,1
767,86,Person-days with PM2.5 over the National Ambie...,Counts,State x County,1,Alabama,1117,Shelby,2013,0.0,No Units,No Units,Monitor Only,1

In [72]:
#airQuality = pd.DataFrame()

var1 = data_air[data_air.MeasureName == "Number of person-days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard"]
#print(var1.Value.value_counts())
meanVar1 = var1.groupby(by="StateName")["Value"].mean()
meanVar1_pd = pd.DataFrame(meanVar1.values, index=meanVar1.index, columns=["Number_of_person-days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName"])

var2 = data_air[data_air.MeasureName == "Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard"]
#print(var2.Value.value_counts())
meanVar2 = var2.groupby(by="StateName")["Value"].mean()
meanVar2_pd = pd.DataFrame(meanVar2.values, index=meanVar2.index, columns=["Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName"])

var3 = data_air[data_air.MeasureName == "Percent of days with PM2.5 levels over the National Ambient Air Quality Standard (NAAQS)"]
#print(var3.Value.value_counts())
meanVar3 = var3.groupby(by="StateName")["Value"].mean()
meanVar3_pd = pd.DataFrame(meanVar3.values, index=meanVar3.index, columns=["Percent_of_days_with_PM2.5_levels_over_the_National_Ambient_Air_Quality_Standard_(NAAQS)"])

var4 = data_air[data_air.MeasureName == "Person-days with PM2.5 over the National Ambient Air Quality Standard"]
#print(var3.Value.value_counts())
meanVar4 = var4.groupby(by="StateName")["Value"].mean()
meanVar4_pd = pd.DataFrame(meanVar4.values, index=meanVar4.index, columns=["Person-days_with_PM2.5_over_the_National_Ambient_Air_Quality_Standard"])

var5 = data_air[data_air.MeasureName == "Annual average ambient concentrations of PM2.5 in micrograms per cubic meter (based on seasonal averages and daily measurement)"]
#print(var3.Value.value_counts())
meanVar5 = var5.groupby(by="StateName")["Value"].mean()
meanVar5_pd = pd.DataFrame(meanVar5.values, index=meanVar5.index, columns=["Annual_average_ambient_concentrations_of_PM2.5_in_micrograms_per_cubic_meter_(based_on_seasonal_averages_and_daily_measurement)"])

pd.concat([meanVar1_pd, meanVar2_pd, meanVar2_pd, meanVar2_pd, meanVar2_pd], axis = 1)

,Number_of_person-days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName,Number_of_days_with_maximum_8-hour_average_ozone_concentration_over_the_National_Ambient_Air_Quality_Standard__MeanPerStateName
StateName,,,,,
Alabama,4.396527e+04,0.066667,0.066667,0.066667,0.066667
Alaska,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Arizona,6.149958e+06,2.222222,2.222222,2.222222,2.222222
Arkansas,0.000000e+00,0.000000,0.000000,0.000000,0.000000
California,2.422244e+07,11.479167,11.479167,11.479167,11.479167
Colorado,1.519712e+06,3.882353,3.882353,3.882353,3.882353
Connecticut,3.794545e+06,6.125000,6.125000,6.125000,6.125000
Delaware,2.521110e+05,0.666667,0.666667,0.666667,0.666667
District of Columbia,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Florida,1.302783e+05,0.090909,0.090909,0.090909,0.090909
Georgia,1.285582e+05,0.190476,0.190476,0.190476,0.190476
Hawaii,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Idaho,4.164640e+05,1.000000,1.000000,1.000000,1.000000
Illinois,8.181284e+05,0.565217,0.565217,0.565217,0.565217
Indiana,4.655797e+04,0.172414,0.172414,0.172414,0.172414
Iowa,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Kansas,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Kentucky,8.550444e+03,0.111111,0.111111,0.111111,0.111111
Louisiana,1.512117e+05,0.631579,0.631579,0.631579,0.631579
Maine,1.866083e+05,1.272727,1.272727,1.272727,1.272727
Maryland,2.836221e+05,0.800000,0.800000,0.800000,0.800000
Massachusetts,5.719424e+05,1.181818,1.181818,1.181818,1.181818
Michigan,2.836665e+05,0.800000,0.800000,0.800000,0.800000
Minnesota,2.263560e+04,0.066667,0.066667,0.066667,0.066667
Mississippi,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Missouri,2.657417e+05,0.666667,0.666667,0.666667,0.666667
Montana,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Nebraska,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Nevada,5.584180e+06,3.500000,3.500000,3.500000,3.500000
New Hampshire,5.187543e+04,0.428571,0.428571,0.428571,0.428571
New Jersey,5.286326e+05,1.071429,1.071429,1.071429,1.071429
New Mexico,3.043911e+05,1.500000,1.500000,1.500000,1.500000
New York,7.228302e+05,0.576923,0.576923,0.576923,0.576923
North Carolina,1.182762e+04,0.058824,0.058824,0.058824,0.058824
North Dakota,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Ohio,1.461348e+05,0.294118,0.294118,0.294118,0.294118
Oklahoma,3.302122e+05,1.052632,1.052632,1.052632,1.052632
Oregon,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Pennsylvania,3.826188e+05,0.864865,0.864865,0.864865,0.864865
Rhode Island,1.326035e+06,3.666667,3.666667,3.666667,3.666667
South Carolina,0.000000e+00,0.000000,0.000000,0.000000,0.000000
South Dakota,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Tennessee,5.871656e+04,0.062500,0.062500,0.062500,0.062500
Texas,5.279666e+06,3.757576,3.757576,3.757576,3.757576
Utah,9.985212e+05,8.000000,8.000000,8.000000,8.000000
Vermont,0.000000e+00,0.000000,0.000000,0.000000,0.000000
Virginia,5.164100e+04,0.125000,0.125000,0.125000,0.125000
Washington,0.000000e+00,0.000000,0.000000,0.000000,0.000000
West Virginia,3.029100e+03,0.100000,0.100000,0.100000,0.100000
Wisconsin,4.204827e+04,0.423077,0.423077,0.423077,0.423077
Wyoming,9.107308e+03,0.153846,0.153846,0.153846,0.153846

In [80]:
# https://chronicdata.cdc.gov/Heart-Disease-Stroke-Prevention/Heart-Disease-Mortality-Data-Among-US-Adults-35-by/r35g-znws/data
heart_path = "/Users/adrianahne/Desktop/INSERM/Data/Heart_Disease_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County.csv"

data_heart = pd.read_csv(heart_path, sep=";")

#data_air = data_air[data_air.ReportYear == 2013] # 2011
#data_air = data_air[data_air.MeasureName == "Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard"]
#data_air = data_air[data_air.StateName == "Washington"]


print(data_heart.columns)
print()
print(data_heart.Year.value_counts(dropna=False))
print()
print(data_heart.Class.value_counts(dropna=False))
print()
print(data_heart.Topic.value_counts(dropna=False))
print()
print(data_heart.StratificationCategory1.value_counts(dropna=False))
print()
print(data_heart.StratificationCategory2.value_counts(dropna=False))

print()
print(data_heart.LocationAbbr.value_counts(dropna=False))
data_heart.head()

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Location 1'],
      dtype='object')

2014    59076
Name: Year, dtype: int64

Cardiovascular Diseases    59076
Name: Class, dtype: int64

Heart Disease Mortality    59076
Name: Topic, dtype: int64

Gender    59076
Name: StratificationCategory1, dtype: int64

Race/Ethnicity    59076
Name: StratificationCategory2, dtype: int64

TX    4590
GA    2880
VA    2430
KY    2178
MO    2088
KS    1908
IL    1854
NC    1818
IA    1800
TN    1728
NE    1692
IN    1674
OH    1602
MN    1584
MI    1512
MS    1494
PR    1422
OK    1404
AR    1368
WI    1314
AL    1224
PA    1224
FL    1224
SD    1206
CO    1170
LA    1170
NY    1134
CA    1062
MT    1026
WV    1008
ND     972
SC     846
ID     810
WA     720
OR     666
NM     612
UT     540
AK     504
MD     450
WY     432
NJ     396
NV     324
ME     306
AZ     288
VT     270
MA     270
NH     198
CT     162
HI     108
RI     108
DE      72
VI      72
MP      36
AS      36
GU      36
DC      36
US      18
Name: LocationAbbr, dtype: int64

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [92]:
# https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_17_1YR_S1902&prodType=table

income_path = "/Users/adrianahne/Desktop/INSERM/Data/ACS_17_1YR_S1902-1/ACS_17_1YR_S1902_with_ann.csv"

data_income = pd.read_csv(income_path, sep=",")
data_income.columns = data_income.loc[0].values
data_income = data_income.loc[1::]

print(data_income.columns)
data_income.head()

Index(['Id', 'Id2', 'Geography', 'Number; Estimate; All households',
       'Number; Margin of Error; All households',
       'Percent Distribution; Estimate; All households',
       'Percent Distribution; Margin of Error; All households',
       'Mean income (dollars); Estimate; All households',
       'Mean income (dollars); Margin of Error; All households',
       'Number; Estimate; All households - With earnings',
       ...
       'Percent Distribution; Estimate; Hispanic or Latino origin (of any race)',
       'Percent Distribution; Margin of Error; Hispanic or Latino origin (of any race)',
       'Mean income (dollars); Estimate; Hispanic or Latino origin (of any race)',
       'Mean income (dollars); Margin of Error; Hispanic or Latino origin (of any race)',
       'Number; Estimate; White alone, not Hispanic or Latino',
       'Number; Margin of Error; White alone, not Hispanic or Latino',
       'Percent Distribution; Estimate; White alone, not Hispanic or Latino',
       'Percent Distribution; Margin of Error; White alone, not Hispanic or Latino',
       'Mean income (dollars); Estimate; White alone, not Hispanic or Latino',
       'Mean income (dollars); Margin of Error; White alone, not Hispanic or Latino'],
      dtype='object', length=171)

,Id,Id2,Geography,Number; Estimate; All households,Number; Margin of Error; All households,Percent Distribution; Estimate; All households,Percent Distribution; Margin of Error; All households,Mean income (dollars); Estimate; All households,Mean income (dollars); Margin of Error; All households,Number; Estimate; All households - With earnings,...,Percent Distribution; Estimate; Hispanic or Latino origin (of any race),Percent Distribution; Margin of Error; Hispanic or Latino origin (of any race),Mean income (dollars); Estimate; Hispanic or Latino origin (of any race),Mean income (dollars); Margin of Error; Hispanic or Latino origin (of any race),"Number; Estimate; White alone, not Hispanic or Latino","Number; Margin of Error; White alone, not Hispanic or Latino","Percent Distribution; Estimate; White alone, not Hispanic or Latino","Percent Distribution; Margin of Error; White alone, not Hispanic or Latino","Mean income (dollars); Estimate; White alone, not Hispanic or Latino","Mean income (dollars); Margin of Error; White alone, not Hispanic or Latino"
1,0400000US01,01,Alabama,1841665,12421,1841665,12421,66337,723,1320744,...,4.1,0.1,15365,1224,3191450,2158,65.5,0.1,30697,398
2,0400000US02,02,Alaska,250741,3074,250741,3074,92674,2705,212488,...,7.0,0.1,25380,2446,448081,1095,60.6,0.1,41919,1333
3,0400000US04,04,Arizona,2552972,11005,2552972,11005,77451,752,1910129,...,31.4,*****,17626,311,3836639,4499,54.7,0.1,37804,439
4,0400000US05,05,Arkansas,1153082,8560,1153082,8560,63560,923,841855,...,7.4,0.1,15897,1848,2173307,2415,72.3,0.1,28204,407
5,0400000US06,06,California,13005097,17539,13005097,17539,101761,503,10502893,...,39.1,*****,19730,166,14616636,7788,37.0,0.1,51025,358

In [94]:
data_income_final = data_income[["Mean income (dollars); Estimate; All households", 'Mean income (dollars); Margin of Error; All households',
            'Percent Distribution; Estimate; All households', 'Percent Distribution; Margin of Error; All households']]
data_income_final.index = data_income.Geography.values
data_income_final.head()

,Mean income (dollars); Estimate; All households,Mean income (dollars); Margin of Error; All households,Percent Distribution; Estimate; All households,Percent Distribution; Margin of Error; All households
Alabama,66337,723,1841665,12421
Alaska,92674,2705,250741,3074
Arizona,77451,752,2552972,11005
Arkansas,63560,923,1153082,8560
California,101761,503,13005097,17539

In [98]:
#https://catalog.data.gov/dataset/selected-trend-table-from-health-united-states-2011-diabetes-prevalence-and-glycemic-contr-63c3a
path_diab_prevalence = "/Users/adrianahne/Desktop/INSERM/Data/Selected_Trend_Table_from_Health__United_States__2011._Diabetes_prevalence_and_glycemic_control_among_adults_20_years_of_age_and_over__by_sex__age__and_race_and_Hispanic_origin__United_States__selected_years_1988_-_199.csv" 


data_diab_prevalence = pd.read_csv(path_diab_prevalence, sep=",")
#data_diab_prevalence.columns = data_diab_prevalence.loc[0].values
#data_diab_prevalence = data_diab_prevalence.loc[1::]

print(data_diab_prevalence.columns)
data_diab_prevalence.head()

Index(['Category', 'Category flag', 'Group', 'Group flag', 'Prevalence',
       'Prevalence note', 'Prevalence flag 1', 'Prevalence flag 2',
       '1988-1994', '1988-1994 flag', '1988-1994 SE', '1988-1994 SE flag',
       '1999-2002', '1999-2002 flag', '1999-2002 SE', '1999-2002 SE flag',
       '2001-2004', '2001-2004 flag', '2001-2004 SE', '2001-2004 SE flag',
       '2003-2006', '2003-2006 flag', '2003-2006 SE', '2003-2006 SE flag'],
      dtype='object')

,Category,Category flag,Group,Group flag,Prevalence,Prevalence note,Prevalence flag 1,Prevalence flag 2,1988-1994,1988-1994 flag,...,1999-2002 SE,1999-2002 SE flag,2001-2004,2001-2004 flag,2001-2004 SE,2001-2004 SE flag,2003-2006,2003-2006 flag,2003-2006 SE,2003-2006 SE flag
0,All persons,5.0,"20 years and over, age-adjusted",4.0,Physician-diagnosed and undiagnosed diabetes,Percent of population,1.0,2.0,9.1,NaN,...,0.4,NaN,10.7,NaN,0.5,NaN,10.6,NaN,0.5,NaN
1,Male,NaN,"20 years and over, age-adjusted",4.0,Physician-diagnosed and undiagnosed diabetes,Percent of population,1.0,2.0,9.6,NaN,...,0.6,NaN,12.0,NaN,0.7,NaN,11.5,NaN,0.7,NaN
2,Female,NaN,"20 years and over, age-adjusted",4.0,Physician-diagnosed and undiagnosed diabetes,Percent of population,1.0,2.0,8.7,NaN,...,0.5,NaN,9.5,NaN,0.5,NaN,9.8,NaN,0.5,NaN
3,Not Hispanic or Latino: White only,NaN,"20 years and over, age-adjusted",4.0,Physician-diagnosed and undiagnosed diabetes,Percent of population,1.0,2.0,8.0,NaN,...,0.4,NaN,9.1,NaN,0.5,NaN,9.0,NaN,0.6,NaN
4,Not Hispanic or Latino: Black or African Ameri...,NaN,"20 years and over, age-adjusted",4.0,Physician-diagnosed and undiagnosed diabetes,Percent of population,1.0,2.0,16.0,NaN,...,1.0,NaN,15.4,NaN,0.9,NaN,16.4,NaN,0.9,NaN

In [101]:
# https://chronicdata.cdc.gov/Vision-Eye-Health/Diabetic-Retinopathy-Age-adjusted-Prevalence-/ht3t-s94t

# Data for only 6 states

path_eye = "/Users/adrianahne/Desktop/INSERM/Data/Diabetic_Retinopathy__Age-adjusted_Prevalence_.csv"


data_eye = pd.read_csv(path_eye, sep=";")
#data_diab_prevalence.columns = data_diab_prevalence.loc[0].values
#data_diab_prevalence = data_diab_prevalence.loc[1::]

print(data_eye.columns)
print()
print(data_eye.LocationDesc.value_counts(dropna=False))
print()
print(data_eye.Topic.value_counts(dropna=False))
print()
print(data_eye.Question.value_counts(dropna=False))
print()
print(data_eye.Response.value_counts(dropna=False))
print()
print(data_eye.Break_Out_Category.value_counts(dropna=False))
print()
print(data_eye.Break_Out.value_counts(dropna=False))

data_eye.head()

Index(['Year', 'LocationAbbr', 'LocationDesc', 'Topic', 'Question',
       'DataSource', 'Response', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Low_Confidence_limit', 'High_Confidence_Limit', 'Sample_Size',
       'Break_Out', 'Break_Out_Category', 'GeoLocation', 'TopicId',
       'QuestionId', 'LocationId', 'BreakOutId', 'BreakOutCategoryId',
       'ResponseId'],
      dtype='object')

California       1
Texas            1
Ohio             1
Massachusetts    1
Alaska           1
New Jersey       1
Name: LocationDesc, dtype: int64

Eye Diseases and Injury    6
Name: Topic, dtype: int64

Percentage of Adults 40 Years and Older Who Reported Having Diabetic Retinopathy    6
Name: Question, dtype: int64

NaN    6
Name: Response, dtype: int64

Diabetes    6
Name: Break_Out_Category, dtype: int64

Yes    6
Name: Break_Out, dtype: int64

,Year,LocationAbbr,LocationDesc,Topic,Question,DataSource,Response,Data_Value_Unit,Data_Value_Type,Data_Value,...,Sample_Size,Break_Out,Break_Out_Category,GeoLocation,TopicId,QuestionId,LocationId,BreakOutId,BreakOutCategoryId,ResponseId
0,2011,AK,Alaska,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.0,...,263,Yes,Diabetes,"(64.84507995700051, -147.72205903599973)",T02,Q311_2011,2,Diab1,BOC9,NaN
1,2011,CA,California,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,25.1,...,542,Yes,Diabetes,"(37.63864012300047, -120.99999953799971)",T02,Q311_2011,6,Diab1,BOC9,NaN
2,2011,MA,Massachusetts,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.1,...,658,Yes,Diabetes,"(42.27687047000046, -72.08269067499964)",T02,Q311_2011,25,Diab1,BOC9,NaN
3,2011,NJ,New Jersey,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.7,...,512,Yes,Diabetes,"(40.13057004800049, -74.27369128799967)",T02,Q311_2011,34,Diab1,BOC9,NaN
4,2011,OH,Ohio,Eye Diseases and Injury,Percentage of Adults 40 Years and Older Who Re...,BRFSS,NaN,%,Age-Adjusted Prevalence,21.0,...,"1,153",Yes,Diabetes,"(40.06021014100048, -82.40426005599966)",T02,Q311_2011,39,Diab1,BOC9,NaN

In [104]:
# https://wonder.cdc.gov/natality.html
# More information: https://wonder.cdc.gov/wonder/help/natality.html

path_birth = "/Users/adrianahne/Desktop/INSERM/Data/Natality, 2007-2017.txt"


data_birth = pd.read_csv(path_birth, sep="\t")

data_birth.head()

,Notes,State,State Code,Births,% of Total Births,Total Population,Birth Rate,Female Population,Fertility Rate,Average Birth Weight,Standard Deviation for Average Birth Weight,Average Age of Mother,Standard Deviation for Average Age of Mother,Average LMP Gestational Age,Standard Deviation for Average LMP Gestational Age,Average OE Gestational Age,Standard Deviation for Average OE Gestational Age
0,NaN,Alabama,1.0,58941.0,1.53%,4874747.0,12.09,949949.0,62.05,3189.11,611.32,27.29,5.60,38.30,2.76,38.20,2.22
1,NaN,Alaska,2.0,10445.0,0.27%,739795.0,14.12,146072.0,71.51,3394.32,592.23,28.42,5.65,38.79,2.41,38.64,2.07
2,NaN,Arizona,4.0,81872.0,2.12%,7016270.0,11.67,1345764.0,60.84,3280.37,573.50,28.21,5.84,38.56,2.48,38.50,2.02
3,NaN,Arkansas,5.0,37520.0,0.97%,3004279.0,12.49,577447.0,64.98,3228.37,601.98,26.87,5.60,38.56,2.71,38.28,2.15
4,NaN,California,6.0,471658.0,12.23%,39536653.0,11.93,8104632.0,58.20,3288.97,566.21,29.82,5.94,38.70,2.11,38.61,2.00